üí≠ **Entity Relationship Diagram:** [Spotify Diagram](https://viewer.diagrams.net/?tags=%7B%7D&highlight=0000ff&edit=_blank&layers=1&nav=1#R7V1Zd9o4FP41nJM%2B0OMd80iWZjonTdOmnZnOC0fYAtQYi8pyAv31I3nDG%2BBgGxxGeQm6tmTru5%2Burq4W99SrxeqWgOX8E7ah01Mke9VTr3sK%2BzNl9o9L1qFkOFBDwYwgOxTJG8Ej%2Bg0joRRJfWRDL3MjxdihaJkVWth1oUUzMkAIfsneNsVO9qlLMIMFwaMFnKL0b2TTeSg1lcFG%2FgdEs3n8ZNkYhlcWIL45qok3BzZ%2BSYnUm556RTCm4a%2FF6go6HLwYlzDfhy1Xkxcj0KVVMjwC%2Bunv4eivnx%2F%2FfZA%2F4qcvztTqR6U8A8ePKmxh36UEMczDt6brGArvBS0c4LLUpTVHjn0H1tjnj%2FYosJ7i1OUcE%2FQbuxQ47JLMBOwyoZFmdSlzxyPPycRcStiDbWhHmabsepRH1uJ09C5SUCjBT4lKFJ4feuz%2BhxgPKRHdAY%2FGrxLrgF%2B1gTcPnscTwEEzl%2F22WG5IuIBY0fP541%2FmiMLHJbC44IVRnVeDLuIqTpHjXGEHkwAp1QbQnFrJW6auGJYJJ1N2pai9WBWQULhKiSJt3kK8gJSs2S3R1b6uRdSK2pZm6GH6ZcNU2YjumadYOoxkIGocs6TsDX%2FYj4hCr6CTUqBTTzEcGukvaKYxFMYvnzOfAaFOp5JkSmmRMeP%2FkYeVi6s%2FRl9ZRuVdXBJ7sbCw8KZYPCGxJGTw%2BuKv0dc4s%2FSuwOZY4Q6c0oKmXBzQPK3WSOQxDiB3dhfkutZyTOU85ApEzICMogdQvIypCCYJfwmmgKbSjAkxSVO8KrJkZyveT52IKbpUjShaW0RRC0SxAXLWYwbWWJGkgraE7alse3Ro2lqZ7TGViWoYDdkeVcrZnqqUkpW2OKUdZHwk9mdZReNDCaPHGNkpM6Lq1Y1QnUdHBmz8avuXajFxmRNMbEj60fNHAT7kot9Py9%2BFxeTewgYUXlyPvt28K9ZuiT1EEXYvPt5%2FO2%2FTqlZuGa80rYO2moFeaAYhlRe%2BhyxhWA82rNMpNKxSp84eDCeS1JJhNdSKhFKMthhlHNGwFi1ozt49wXVkdcLLzGq4pZav%2BOS9WQJC9L2QEdxWLgncVhJYcLq4E295WHp7bcPX2ylesHH2xeXnz3c3o%2FvOIVGrZg72bRd63sWHu8%2Bj02u5Vl0oXCzxOVTE9gng3f144Ym2R9ECjj3WsQDqE9hJPOopG7gWBBPkILpukbysP6T9sNPltXNx1AHXg4o7tA5YehvMPEie22kVW8TQhWQmkDtA7C0hZE5oh8x%2Fow0LsHGdx8YvXa3cUa0ocpkb7S8gHzB0WOFHxcRBz9DpEv1r1YYNFyDrSZKqnHGQQK88yntlkCCZBmt8TDfYEiVA7hSLIMHhQQLTguVBgompa3pTQQIlGyPQlZPzyWx05qdmjKDKo7eFJxhjkUdfG%2Fjdam4Pj7%2FusbbNhJpn0CWQVzYaxmztzxqtmudP8g%2FO1Qk4E39xePR9iZe%2BA0i7I5juORAUUQemIJMl6Y3V%2FHXjh87VqYt1qMUouFo6yEK01WBj868NPCueOJPfyCuHXZ7rLyaQnP%2B02qCyy%2FNKj1lubRZkWPBwgj5MOMs1ZtSmypYZNWNi6A0tVdCzvnLiAp9skVT8Ag35yns8qS0%2BU5jLBYu0v6Cft9EZVqZOV5ZJycX1mbHvLOzOwXYHyrYOB2V2Z2gMVNDUEinFzFkeo4RO5lEtj9Ko5dk2jNs7PEsy5uyPeuYGSG5koWYZZdqzQMXFH6Gn6qyJWE5UwwhNJKhCo8wISdCUTLMZIyTLWRtklng%2FyXrbzPI0vTVGFUPPdSJYNddpuuMXTOxuLGuoNX701v7vOaRjF5NFJ2pz0kjYhNn%2B7kBRL5YxRa7bnbqcVK0usbqDRBPN9Rwmenlb64RCTkrNoJkKGFgLFSAAd5YEcf%2FXMLABFlqC1E6R%2FzEaNvJmvkcFEFMIutE4atXiJxb7EC49EC7Wf4tA1Ku4T5YEed1c%2Fn3cNQdEGDVeDJyxfu5ZECLaGyqQiNzAcLzajWFeZ7xBAUrWKRR4pHxDAcbGxRRYZD1NgUfOARWApP1QgUbOHRWA5LxSAUjBOVUEHCXeqUCll3VPBSC9lH8q0OhtHFQBRi%2FroQpAejkXVSDSS%2FuoAo5ezkkViPRyXqpAJM2RCZ6Nf57BvGGi4g5V6KQavgRr%2BDZnEBuF4T4meohHVw93OzImPiXAEZBsxA%2Bx%2BThDTE63cfrNqD9Z1zx2w7ZxXgyoD0sy%2B7zB5Zw3FBmVN4Rs31BUvv9DamD%2Fxz2kV9fPiqJBbYGcX8uR%2Fu%2B0L2sFlUB7BuONO5jQOZ5hFzg3G2lq4w%2FHbHPPHeYgB5D9hJSuI30An%2BIsoHCF6D88%2B3s9Sv2ICuO%2Fr1fpxDpO8FO4U5l48kdcHk9ssgWpTT57xD89wpI3Xxl7vuFPwF2HFz4gjlZw29btPR72iQV3qT06bYcCMoN0B9bRwVQc353kINAJnI%2FMazS%2F86d4SFB42o7YRlZnD%2F002CxW2EamGupQtXfxrPo2MlXObiNTh1WPY2jttH%2B5eB5D3Dkcspd1z7FPe%2FfTR%2FnLNrTmS0gdTlS%2BZX%2BKHQe%2FQOKd%2FzkgiUno5Pn6X5bDL8b3%2B7n3XV49mVe39yv9Ov7GzWm6r%2Fh30Hm9V%2BK%2BbE%2F%2F1ZfeS1LSa4V5VWN%2FN8ZSD5Aghhu3U8fp25Ri17brax%2FH79pKSXFanyZDioqcyNFB0feyoWXFl%2Fg0b0DxenesQQ1jYJj71b%2FbGESdTFNkMCqSwewUGYzOkKHquEbJDGykU9sAuar1H3RK74PujGjlqpofqlpa9Vmr0CmPIB57dJcUpWPvpH4dYEVle6CpwzQr5PeSPjw1KcqjSEVOlN%2BndooUxfO8gpNuC0wRAZDK5%2BgAy7TVwjiYXVFUTdMbCoDog2wARB9W%2FNSqrLYVR1UKVKoV%2F9h54PL%2B8EeQvUr0g7UzCDw43vV5QYoZX8fByT7elhhJIYhyHkGSnUaj8RiJ2RY31e50fRUdolMOh3c17%2BOPgIKsrG5gnbphiZFLvVTJD1ywsY9G7pTVgaanSVS4X1Xr3W%2FIUo6k4RtvKJtU%2FXAWFz8oG0V5xQGcNSctgD0A5V%2FJ0BiTtGb67PykxVFP%2Ft01HdfQyXeVpyyqHdJ5xh2oVpk6Jzj4t%2FSNh6IDrR02GFbsQU8WNnj%2BNbslQ391%2F%2Bctmhs%2FvgPH6Ze69TuowGBhPvDX4NWwm6ZDvt2lFb0N%2ByyFNnGBrG73qvaA8PThei5R8y4jsFfN6TZftjImEb7Ooyq4NHLOZdLy3nhY8yjXDt8of8K9mi8ohKZQUFNuUsmp0lHXJGIb9fwkW7IgVMr8JN3Q5QFsKLaRO6dckyrGNlrzk%2BKg3bEdpVd%2BdeqMPaakTb8dl0k%2Bqc902MIMPumiZjtXTTL3ek4nmYWp2s%2FG1OlIxH2P%2F9QpV7qt2fSqSyvi5cStq44lCeY2euOHsL5w%2FgnbkN%2FxHw%3D%3D)

**Importing Libraries** üìö

In [117]:
import pandas as pd
import numpy as np
from urllib.parse import quote_plus
from sqlalchemy import URL
from sqlalchemy import create_engine, ForeignKeyConstraint, text
from sqlalchemy.types import Integer, Float, Boolean, VARCHAR, CHAR, Date
import os
import patoolib

**Reading CSV files** ‚úÖ

In [3]:
if not os.path.exists("Spotify Data/dailytop200.csv"):
    patoolib.extract_archive("Spotify Data/dailytop200.rar", outdir="Spotify Data")

In [4]:
albums = pd.read_csv("Spotify Data/albums.csv")
artists = pd.read_csv("Spotify Data/artists.csv")
countries = pd.read_csv("Spotify Data/countries.csv")
dailytop200 = pd.read_csv("Spotify Data/dailytop200.csv")
track_info = pd.read_csv("Spotify Data/track_info.csv")
track_lyric = pd.read_csv("Spotify Data/track_lyric.csv")
track_music = pd.read_csv("Spotify Data/track_music.csv")

**Creating and Connecting to DataBase** üìù

In [5]:
url_object = URL.create(
    "mysql+mysqlconnector",
    username="root",
    password="Your Password",
    host="localhost",
)

In [6]:
engine = create_engine(url_object)
with engine.connect() as conn :
    conn.execute(text('CREATE SCHEMA IF NOT EXISTS spotify;'))

üî¥ **Creating Countries Table**

üü† **Creating Genre Table**

In [77]:
genres=pd.concat((track_info.genre, artists.Genres)).str.split(',').explode()
genres = genres.str.strip().unique()

genres_df=pd.DataFrame({'genre_id':range(1, len(genres) + 1),'genres_name':genres}).set_index('genre_id')
genres_df.head()

         genres_name
genre_id
1                hip
2                pop
3                met
4                ind
5                rap

In [81]:
with engine.connect() as conn:
    genres_df.to_sql(name = "genre", con = conn, schema = "spotify", if_exists = "replace", dtype = {"genre_id": Integer, "genres_name": VARCHAR(length = 40)})
    conn.execute(text('ALTER TABLE spotify.genre ADD PRIMARY KEY (genre_id);'))

üü° **Creating Artist Table**

In [112]:
artists_df=artists[['artist_id','Name','Popularity','Followers']].copy().set_index('artist_id').drop_duplicates()
artists_df.rename(columns={'Name': 'artist_name' ,'Popularity':'popularity', 'Followers':'followers'}, inplace=True)
artists_df.head()

                             artist_name  popularity  followers
artist_id
3vQ0GE3mI0dAaxIMYe5g7z      Paulo Londra          74   22189494
69GGBxA162lTqCwzJG5jLp  The Chainsmokers          78   20348703
6LqNN22kT3074XbTVUrhzX             Kesha          74    7620554
7jy3rLJdDQY21OgRLCZ9sD      Foo Fighters          77   11191467
6XyY86QOPPrYVGvF9ch6wz       Linkin Park          83   24144132

In [113]:
with engine.connect() as conn:
    artists_df.to_sql(name = "artist", con = conn, schema = "spotify", if_exists = "replace", dtype = {"artist_id": VARCHAR(length = 35), "artist_name": VARCHAR(length = 100), 'popularity':Integer, 'followers':Integer})
    conn.execute(text('ALTER TABLE spotify.artist ADD PRIMARY KEY (artist_id);'))

üü§ **Creating Album Table**

In [152]:
albums_df = albums.drop('Artists', axis=1).set_index('album_id').drop_duplicates()
albums_df.rename(columns={'Name': 'album_name' ,'Release Date':'release_date', 'Total Tracks':'total_tracks', 'Popularity': 'popularity'}, inplace=True)
albums_df['release_date'] = pd.to_datetime(albums_df['release_date'], format='%Y-%m-%d', errors='coerce')
albums_df.head()

,album_name,release_date,total_tracks,popularity
album_id,,,,
1XBTyV1if5X9sU4IhpfH5R,Adan y Eva,2018-11-05,1,60
4JPguzRps3kuWDD5GS6oXr,Memories...Do Not Open,2017-04-07,12,79
6qJgVaJKgGU7TFoBzPLyqh,Hymn,2017-08-03,1,0
6KMkuqIwKkwUhUYRPL6dUc,Concrete and Gold,2017-09-15,11,59
5Eevxp2BCbWq25ZdiXRwYd,One More Light,2017-05-19,10,72

In [149]:
with engine.connect() as conn:
    albums_df.to_sql(name = "album", con = conn, schema = "spotify", if_exists = "replace", dtype = {"album_id": VARCHAR(length = 35), "album_name": VARCHAR(length = 300), 'release_date':Date, 'total_tracks':Integer, 'popularity': Integer})
    conn.execute(text('ALTER TABLE spotify.album ADD PRIMARY KEY (album_id);'))

üü£ **Creating Track Info Table**

üîµ **Creating Subgenre Table**

In [36]:
unique_subgenres = track_info["subgenre"].unique()
subgenre_df = pd.DataFrame({"subgenre_id": range(1, len(unique_subgenres) + 1), "subgenre_name": unique_subgenres})

with engine.connect() as conn:
    subgenre_df.to_sql(name = "subgenre", con = conn, schema = "spotify", if_exists = "replace", index = False, dtype = {"subgenre_id": Integer, "subgenre_name": VARCHAR(length = 35)})
    conn.execute(text('ALTER TABLE spotify.subgenre ADD PRIMARY KEY (subgenre_id);'))

‚ö™ **Creating Track Lyric Table**

In [37]:
track_lyric_df = track_lyric.copy()
track_lyric_df.drop("ldabing_norm_negative", axis = 1, inplace = True)

column_data_types = {
    "track_id": VARCHAR(35),
    "n_words": Integer,
    "syuzhet_norm": Integer,
    "bing_norm": Integer,
    "afinn_norm": Integer,
    "nrc_norm": Integer,
    "syuzhet": Float,
    "bing": Integer,
    "afinn": Integer,
    "nrc": Integer,
    "anger": Integer,
    "anticipation": Integer,
    "disgust": Integer,
    "fear": Integer,
    "joy": Integer,
    "sadness": Integer,
    "surprise": Integer,
    "trust": Integer,
    "negative": Integer,
    "positive": Integer,
    "anger_norm": Float,
    "anticipation_norm": Float,
    "disgust_norm": Float,
    "fear_norm": Float,
    "joy_norm": Float,
    "sadness_norm": Float,
    "surprise_norm": Float,
    "trust_norm": Float,
    "negative_norm": Float,
    "positive_norm": Float,
    "anger_norm2": Float,
    "anticipation_norm2": Float,
    "disgust_norm2": Float,
    "fear_norm2": Float,
    "joy_norm2": Float,
    "sadness_norm2": Float,
    "surprise_norm2": Float,
    "trust_norm2": Float,
    "negative_norm2": Float,
    "positive_norm2": Float,
    "negative_bog_jr": Integer,
    "positive_bog_jr": Integer,
    "Bayes": Integer,
    "Negative_Bayes": Boolean,
    "Neutral_Bayes": Boolean,
    "Positive_Bayes": Boolean,
    "bing_norm_neutral": Boolean,
    "bing_norm_positive": Boolean,
}

with engine.connect() as conn:
    track_lyric_df.to_sql(name = "track_lyric", con = conn, schema = "spotify", if_exists = "replace", dtype = column_data_types, index = False)
    conn.execute(text('ALTER TABLE spotify.track_lyric ADD FOREIGN KEY (track_id) REFERENCES track_info(track_id);'))

üü¢ **Creating Daily Top 200 Table**

‚ö´ **Creating Track Music Table**

üî¥ **Creating Artist_Genre Table**

In [ ]:
artists_copy=artists.copy()
artists_copy['Genres'] = artists_copy['Genres'].str.split(', ')
artists_copy = artists_copy.explode('Genres')
artists_copy=artists_copy[['artist_id','Genres']]

with engine.connect() as conn:
    genre_data=conn.execute(text('select * FROM spotify.genre;'))

genre_df = pd.DataFrame(genre_data.all(), columns=genre_data.keys())
artists_copy.rename(columns={'Genres':'genres_name'},inplace=True)

artist_genre_df = pd.merge(genre_df, artists_copy ,how="inner", on=['genres_name'])
artist_genre_df.drop(columns=['genres_name'],inplace=True)

with engine.connect() as conn:
    artist_genre_df.to_sql(name = "artist_genre", con = conn, schema = "spotify", if_exists = "replace", dtype ={'genre_id':Integer,'artist_id':VARCHAR(length = 35)}, index = False)
    conn.execute(text('ALTER TABLE spotify.artist_genre ADD (FOREIGN KEY (genre_id) REFERENCES genre(genre_id),FOREIGN KEY (artist_id) REFERENCES artist(artist_id));'))

üîµ **Creating Artist_Album Table**