üí≠ **Entity Relationship Diagram:** [Spotify Diagram](https://viewer.diagrams.net/?tags=%7B%7D&highlight=0000ff&edit=_blank&layers=1&nav=1#R7V1bd9q6Ev41rJU%2BpMt3zCO5NLtnpekl7d6n%2B4UlbAFqjEVlOYH%2B%2BiPZsvENcLABh6O8BI0l2%2Frm02g0urinX8%2BXdwQsZp%2BwC72eprjLnn7T0zTNtnT2j0tWsUTVLS2WTAlyhWwteER%2FoBAqQhoiFwa5jBRjj6JFXuhg34cOzckAIfgln22CvfxTF2AKS4JHB3hl6T%2FIpbNYamv9tfwviKaz5MmqNYivzEGSWdQkmAEXv2RE%2Bm1PvyYY0%2FjXfHkNPY5egktc7sOGq%2BmLEejTOgUeAf30z2D496%2BP%2F35RP%2BKnr97EuRR3eQZeKCrs4NCnBDHM47emqwSK4AXNPeCz1JUzQ557D1Y45I8OKHCektTVDBP0B%2FsUeOySygTsMqFCs6aSy%2FHISzIxlxL2YBe6otCEXRdlVCNJi3dRopsS%2FJSqROPlYcDyf0nwUFLRPQho8iqJDvhVFwSz6Hk8ATw09dlvh5WGhAuII57PH%2F8yQxQ%2BLoDDBS%2BM67wadJ5UcYI87xp7mERI6S6A9sRJ3zJzxXJsOJ6wK2XtJaqAhMJlRiS0eQfxHFKyYlnE1UvTENQSjcuwzDj9smaqaok8swxLB0IGROOYpvde84f9EBR6BZ20Ep16muVRob%2BomSZQWL9DznwGhD6ZKIqtZEXWlP9HAdYurv8afmMFtXfJndiLxTeLMyXiMUkkMYNXF38PvyWFlXclNicK9%2BCEljTl44jmWbUKUcA4gPzpfVTqxigwlfOQKxAxAzIUD6B4kVARjFP%2BEkwBzaQZExKSZnhVZsnWVrybOoIpplKPKMahiKKXiOIC5K1GDKyRpiglbUnbU9v2mNB2jSrbY2tj3bJasj2aXbA9dk1KqdqhOGXsZXwU9uc4ZeNDCaPHCLkZM6Kb9Y1Qk0cLAzZ6tf3LtJjknmNMXEguxfOHET7k4vIyK38X36bwFgR6EARw5AIKL26G32%2FflWu5wAGiCPsXHx%2B%2Bn7eJ1Wu3kFea2P6hmoNZag4xpedhgBxpYPc2sJMJtJxK587tD8aK0pKB1ZW8gbX0moTSrEMxyjqigS1b0oLde4IrYXXiy8xq%2BJUWsPzknUUiQlwGMSO4zVwQuOlOYM7p4o%2BDxX7pzbWNX2%2BreM4G3BdXnz%2Ff3w4fOodEo5p5OHR9GAQXH%2B4%2FD0%2Bv5UZ1oXC%2BwOdQETckgHf3o3kg2x5FczgKWMcCaEhgJ%2FFopmzgOxCMkYfo6oDkZf0hvYw7XV47H4sOuBlU3LH1wCJYYxZA8nyYVrFBDH1IphK5PcTBAkLmhHbI%2FLfasAAb3wVs%2FNLVyh3ViiKfudHhHPIBQ4cVflRMPPQMvS7Rv1Ft2HABsp4krcoZBwnM2qO8VwYJ0umw1sd0%2FQ1RAuRPsAwS7B8ksB1YHSQY26ZhthUk0PIxAlOrG4Q92AyQ3eoMUMMYQZ1HbwpPMMaigL42ALzR3O4fh91hbdsJOU%2BhTyCvrBjGbOzPWq1aEI6LDy7UCXjjcL5%2FFH6BF6EHyGFHMN1zICiiHszNfypvrOavGz90rk5drEMjRsHlwkMOogcNNrb%2F2nH%2FAQInmUZTz9sB7df2IF7pgKoHWwkwKDkMUZcgfc8GE1QTbcMElTW2zJZWAJh51zMdoZxs7VHyAi25njsckw0uSFzKB%2FNs92uc%2BfKjQW3udGX5kVpe95j4otLw7G14oOqasF9leAZWXweHWnqUTnhn6WQf1fS0u%2B5x07Bo53AnLVgwQNGQ6YwNkNrKAsgqyhzOApUXU8TOqrcicnlOAyM0VqAOrSojpEBbse12jJCq5m2QXeH%2BpOtYc8u9zIMxqhzKbRIRarj%2B0R%2B9YOJ2Y5lAoyFksAr%2FzCAd%2BZjMO1Gbk0aWxsz2dweKZtOwE%2BT73anLSdXqE6c7SLTRXM9h4pS3tU4o5KTUjJqphIG1UAkC8KeQSBiAzwZYaAEyOy%2F%2Bj9FwUTANAyqBmEDQjcbRqBa%2FsFzXfxWAePH7WwSiWcVDsiAo6OZy6uPO4RNp1Pht4JT1c8%2BSEGKvpURCuIHxeLUbw7zOeIMSlLxTKPHI%2BIYSjLWLKbHIe5oSj4IDKgHJ%2BqESjYI7KgEpeKUSkJJzqkk4KrxTiUov755KQHoZ%2F1Si0Vs7qBKMXt5DlYD0Ci6qRKSX9VElHL2CkyoR6RW8VIlIliNjPB39OoN5w1TFHarQSTV8BVbwbc4gtgrDQ0L0GI%2BuHpZ2ZExCSoAnIVmLvyTm4wwxOd1G5Dej%2FnRd88iP28Z5MaA5LOns8xqXc95QZNXeELJ5Q1H1%2Fg%2Blhf0fD5Be3zxrmgGNOfJ%2BL4bmv5NL1SipBLpTmGzcwYTO8BT7wLtdSzMbfzhm6zz3mIMcQfYLUroS%2BgAhxXlA4RLR%2F%2FLi702R%2Biluxn%2FfLLOJVZLgp1tnCvHkz%2BR%2BPLEuFqXW5dwh%2F6QHS95%2BY%2Bz5jj8BfxVf%2BIA4WlG2jdt7AhwSB25Tuzi9hgIyhXQL1uKgJ47vVnIQ6EXOR%2B412t%2F5Uz50Jz69Rm4ja7KJfhJtFittI9MtfaC723hWfxuZrua3kemDuucxHOwUfbV8IEPSOeyzl3XHMUo7N9SL8oUNrWrmQJvK036qN%2B1PsOfhF0iC8z%2BvPrUJnTyw%2Futi8NX68TALfqjLJ%2Fv67mFp3iQfjzlN%2F5X8jnqv91rSme3owC6V94qSdltxWd3a3Y%2Bx1BdIEMONG6rjdG5auW%2Fb9hmN4%2FdtlaQ4rVOTI0VNThTooJk72XBgxVc4NW9A8WZ3rEEDY2DZu9W%2F3RiITqYtMlg1yWB3igxWZ8hQd2Cj5UY2yqltgFrX%2Bvc7pfd%2Bd4a0al3ND3Qjq%2Fq8VeiUR5AMPrpLisrBd1q%2FDrCitj0w9EGWFep7xRycmhTVYaQyJ6rz6Z0iRflAr%2Bjo2BJTZASk9kE6wLFdvTQOZlc03TDMliIgZj8fATEHFd8w7VdFQPRDBVK1EpUaBUC2nmC8O%2F4RFS%2Be51UZ%2FqjzwT6KGWFH0dk%2BwYYgSSmKch5Rkq1Wo1GQpIqd9qHIqXen76vpEZ1yPLytfR9%2FCBQVZXUDq0yGBUY%2BDTJ3%2FsIFawNpFQ5a7RtmlkSl%2FLreLL%2BlKgWSxm%2B8pmxa9f1ZXP5Uq4jzyiM4G05bALcPqr87YTAmGe102sVpi6Me%2FrttQq6ls%2B9qT1rUO6bzjDtQozZ1TnD0b%2BUbD2QH2jhuMKjZg54sbvD8e3pHBuHy4T93aGb9%2FAE877LSr99CBQYL84G%2FRa%2BG%2FSwdiu0uq%2BhN2OcptA4M5HW7U7V7xKf313OFmrcZgZ1qzrb5qrUxqfB1HlXJpVELLpNR9MbjmotSW3yj4iH3evFGMTSlG7XlJlWcKy26JhncaOYnuYoDoVblJ5mWqfZhS8GNwknlhlIR3Diqn5RE7Y7tKL3yO05n7DGlbfrtuEzqSX2m%2FVZm8FkXPd%2B5Goq903M6yTRM3X42oU5HQu47%2FKdOudKHmk6vu7YiWVB8cNWxJMHcRq%2F9ENYXzj5hF%2FIc%2FwM%3D)

**Importing Libraries** üìö

In [10]:
import os
import patoolib
import numpy as np
import pandas as pd
from urllib.parse import quote_plus
from sqlalchemy import URL
from sqlalchemy import create_engine, ForeignKeyConstraint, text
from sqlalchemy.types import Integer, Float, Boolean, VARCHAR, CHAR, Date

**Reading CSV files** ‚úÖ

In [11]:
if not os.path.exists("Spotify Data/dailytop200.csv"):
    patoolib.extract_archive("Spotify Data/dailytop200.rar", outdir="Spotify Data")

In [12]:
albums = pd.read_csv("Spotify Data/albums.csv")
artists = pd.read_csv("Spotify Data/artists.csv")
countries = pd.read_csv("Spotify Data/countries.csv")
track_info = pd.read_csv("Spotify Data/track_info.csv")
dailytop200 = pd.read_csv("Spotify Data/dailytop200.csv")
track_lyric = pd.read_csv("Spotify Data/track_lyric.csv")
track_music = pd.read_csv("Spotify Data/track_music.csv")

**Creating and Connecting to DataBase** üìù

In [13]:
url_object = URL.create(
    "mysql+mysqlconnector",
    username="root",
    password="Your Password",
    host="localhost",
)

In [14]:
engine = create_engine(url_object)
with engine.connect() as conn :
    conn.execute(text('drop schema if exists spotify;'))
    conn.execute(text('CREATE SCHEMA IF NOT EXISTS spotify;'))

üî¥ **Creating Countries Table**

In [15]:
countries_df = countries.copy()
countries_df = countries.rename(columns = {"Country": "country"}).set_index('iso2')
countries_df.head()

        country
iso2
XG       Global
AR    Argentina
AU    Australia
AT      Austria
BE      Belgium

In [16]:
with engine.connect() as conn:
    countries_df.to_sql(name = "countries", con = conn, schema = "spotify", if_exists = "replace",
                          dtype = {"country": VARCHAR(length=20),"iso2": VARCHAR(length=2)})
    conn.execute(text('ALTER TABLE spotify.countries ADD PRIMARY KEY (iso2);'))

üü† **Creating Genre Table**

In [17]:
genres=pd.concat((track_info.genre, artists.Genres)).str.split(',').explode()
genres = genres.str.strip().unique()
genres_df=pd.DataFrame({'genres_name':genres}).dropna()
genres_df = genres_df.assign(genre_id=lambda x: x.index + 1).set_index('genre_id')
genres_df.head()

         genres_name
genre_id
1                hip
2                pop
3                met
4                ind
5                rap

In [18]:
with engine.connect() as conn:
    genres_df.to_sql(name = "genre", con = conn, schema = "spotify", if_exists = "replace", dtype = {"genre_id": Integer, "genres_name": VARCHAR(length = 40)})
    conn.execute(text('ALTER TABLE spotify.genre ADD PRIMARY KEY (genre_id);'))

üü° **Creating Artist Table**

In [19]:
artists_df = artists[['artist_id','Name','Popularity','Followers']].set_index('artist_id')
artists_df[artists_df.duplicated(keep=False)]

                             Name  Popularity  Followers
artist_id
2lbUjuMzHkT4qIECvk2f3L    Kris Wu          39     803574
650ZvsETuttSbMAgAodNTv    Kris Wu          39     803574
3WYT2b8pOLsLsqSaoWYr7U  Sodagreen          53     502062
6vypgNeJSC6ipU9mVO1J2Q  Sodagreen          53     502062
1apmSb6aeHZyr9zUsy1Z9q       VaVa          40      63669
6NXVndo53WAgYiqCVxkKft       VaVa          40      63669

In [20]:
artists_replaced = {'650ZvsETuttSbMAgAodNTv': '2lbUjuMzHkT4qIECvk2f3L', 
                    '6vypgNeJSC6ipU9mVO1J2Q': '3WYT2b8pOLsLsqSaoWYr7U', 
                    '6NXVndo53WAgYiqCVxkKft': '1apmSb6aeHZyr9zUsy1Z9q'}
track_info = track_info.replace({'artist_id': artists_replaced})
track_info.head(2)

,track_id,Popularity,Title,artist_id,genre,subgenre,Explicit,album_id,asc,Release_date,Track_number
0,6FyRXC8tJUh863JCkyWqtk,31833.95,adan y eva,3vQ0GE3mI0dAaxIMYe5g7z,hip,argentine hip hop,0,1XBTyV1if5X9sU4IhpfH5R,s,2018-11-05,1
1,5xhJmd0I15jFcEdqxfCzKk,418.00,it wont kill ya,69GGBxA162lTqCwzJG5jLp,pop,dance pop,0,4JPguzRps3kuWDD5GS6oXr,a,2017-04-07,7

In [21]:
artists = artists[~artists['artist_id'].isin(artists_replaced.keys())]
artists.head(3)

,artist_id,Name,Type,Popularity,Genres,Followers
0,3vQ0GE3mI0dAaxIMYe5g7z,Paulo Londra,artist,74,"argentine hip hop, trap argentino, trap latino...",22189494
1,69GGBxA162lTqCwzJG5jLp,The Chainsmokers,artist,78,"electropop, pop",20348703
2,6LqNN22kT3074XbTVUrhzX,Kesha,artist,74,"dance pop, pop",7620554

In [22]:
artists_df = artists_df.drop_duplicates()
artists_df.rename(columns={'Name': 'artist_name' ,'Popularity':'popularity', 'Followers':'followers'}, inplace=True)
artists_df.head()

                             artist_name  popularity  followers
artist_id
3vQ0GE3mI0dAaxIMYe5g7z      Paulo Londra          74   22189494
69GGBxA162lTqCwzJG5jLp  The Chainsmokers          78   20348703
6LqNN22kT3074XbTVUrhzX             Kesha          74    7620554
7jy3rLJdDQY21OgRLCZ9sD      Foo Fighters          77   11191467
6XyY86QOPPrYVGvF9ch6wz       Linkin Park          83   24144132

In [23]:
with engine.connect() as conn:
    artists_df.to_sql(name = "artist", con = conn, schema = "spotify", if_exists = "replace", dtype = {"artist_id": VARCHAR(length = 35), "artist_name": VARCHAR(length = 100), 'popularity':Integer, 'followers':Integer})
    conn.execute(text('ALTER TABLE spotify.artist ADD PRIMARY KEY (artist_id);'))

üü§ **Creating Album Table**

In [24]:
albums_df = albums.copy()
albums_df_duplicated = albums_df[albums_df.duplicated(subset=['Name','Release Date','Total Tracks','Popularity','Artists'], keep=False)].sort_values(by=['Name']).dropna(subset='Name')
albums_df_duplicated

,album_id,Name,Release Date,Total Tracks,Popularity,Artists
2097,4r9fXZWP29khOI8WaHtsgA,...Ready For It?,2017-09-03,1,0,Taylor Swift
812,0HG8fMDhvN2tH5uPHFsyZP,...Ready For It?,2017-09-03,1,0,Taylor Swift
2423,5WkCcZVlQGXchpo6vEbM0d,4 AM,2017-05-30,1,0,2 Chainz
1167,2F8dlOaUdM5h6SYOjivyiU,4 AM,2017-05-30,1,0,2 Chainz
12798,7oMha1U1cFITFdKeTVeoft,A Muse In Her Feelings,2020-04-17,16,0,dvsn
...,...,...,...,...,...,...
37375,7oZSsVqUUbcCGNJhxY4qTt,ÂêüÈÅä,2018-08-02,10,0,ÊüØÊô∫Ê£†
34418,7tIeoJ3aXRv664bF11K6Uv,Â∑Æ‰∏çÂ§öÂßëÂ®ò,2019-07-21,1,0,G.E.M.
34372,2hq1l2JIxuKPKWX9npWclu,Â∑Æ‰∏çÂ§öÂßëÂ®ò,2019-07-21,1,0,G.E.M.
36926,6fLCimyzuiTMM1qUtFNP7b,ÈÄ≤Êìä‰∏ãÂçäÂ†¥,2017-04-14,21,0,Fire EX.
36597,07sd9FUBm9SudCIT52xxeU,ÈÄ≤Êìä‰∏ãÂçäÂ†¥,2017-04-14,21,0,Fire EX.

In [25]:
track_info = track_info.replace({'album_id': {albums_df_duplicated.iloc[i+1]['album_id']: albums_df_duplicated.iloc[i]['album_id'] for i in range(0, len(albums_df_duplicated), 2)}})
track_info.head(2)

,track_id,Popularity,Title,artist_id,genre,subgenre,Explicit,album_id,asc,Release_date,Track_number
0,6FyRXC8tJUh863JCkyWqtk,31833.95,adan y eva,3vQ0GE3mI0dAaxIMYe5g7z,hip,argentine hip hop,0,1XBTyV1if5X9sU4IhpfH5R,s,2018-11-05,1
1,5xhJmd0I15jFcEdqxfCzKk,418.00,it wont kill ya,69GGBxA162lTqCwzJG5jLp,pop,dance pop,0,4JPguzRps3kuWDD5GS6oXr,a,2017-04-07,7

In [26]:
album_ids_droped = albums_df_duplicated.iloc[1::2, albums_df_duplicated.columns.get_loc('album_id')].values
albums_df = albums_df.drop(albums_df[albums_df['album_id'].isin(album_ids_droped)].index)

In [27]:
albums_df_duplicated = albums_df[albums_df.duplicated(subset=['Name','Release Date','Total Tracks','Artists'], keep=False)].sort_values(by=['Name', 'Popularity']).dropna(subset='Name')
albums_df_duplicated

,album_id,Name,Release Date,Total Tracks,Popularity,Artists
36275,5EseKloMRXDuQZhErHuTTA,#osnrap,2019-04-30,10,0,È´òÁàæÂÆ£ OSN
25652,4b65l6XzLp2Eg6lDTMmO1k,#osnrap,2019-04-30,10,61,È´òÁàæÂÆ£ OSN
17637,0vD5jXHysIvJCjzBEcLZwt,+ Es + (El Concierto / En Directo En El Estadi...,2017-12-08,13,0,Alejandro Sanz
13842,6NmuOSiXv5WoA5lYjemVTt,+ Es + (El Concierto / En Directo En El Estadi...,2017-12-08,13,63,Alejandro Sanz
12141,5BHsJsz0eSBdWjAJYdFm76,10 Anos Na Praia (Ao Vivo),2020-05-29,19,0,Matheus & Kauan
...,...,...,...,...,...,...
36679,6fQWn6AMg9PYShzE7b7awn,Â•≥‰πü,2015-06-26,10,49,Various Artists
36744,57vpXaXBmxS9AYvbbfJD7Y,Ë°Ä„ÄÅÊ±ó„ÄÅÊ∂ô,2017-05-10,3,0,BTS
22410,1rxOBsRqYTRBhltSLWjseF,Ë°Ä„ÄÅÊ±ó„ÄÅÊ∂ô,2017-05-10,3,31,BTS
34341,7cOub5T2SxvBkPVq6LEZZm,ÈÇÑÊòØÊÉ≥Âøµ,2016-12-30,12,0,Jia Jia
38132,4Bay19OUdTjD1eB7NOF4dP,ÈÇÑÊòØÊÉ≥Âøµ,2016-12-30,12,47,Jia Jia

In [28]:
track_info = track_info.replace({'album_id': {albums_df_duplicated.iloc[i]['album_id']: albums_df_duplicated.iloc[i+1]['album_id'] for i in range(0, len(albums_df_duplicated), 2)}})
track_info.head(2)

,track_id,Popularity,Title,artist_id,genre,subgenre,Explicit,album_id,asc,Release_date,Track_number
0,6FyRXC8tJUh863JCkyWqtk,31833.95,adan y eva,3vQ0GE3mI0dAaxIMYe5g7z,hip,argentine hip hop,0,1XBTyV1if5X9sU4IhpfH5R,s,2018-11-05,1
1,5xhJmd0I15jFcEdqxfCzKk,418.00,it wont kill ya,69GGBxA162lTqCwzJG5jLp,pop,dance pop,0,4JPguzRps3kuWDD5GS6oXr,a,2017-04-07,7

In [29]:
album_ids_droped = albums_df_duplicated.iloc[0::2, albums_df_duplicated.columns.get_loc('album_id')].values
albums_df = albums_df.drop(albums_df[albums_df['album_id'].isin(album_ids_droped)].index)

In [30]:
albums_df.rename(columns={'Name': 'album_name' ,'Release Date':'release_date', 'Total Tracks':'total_tracks', 'Popularity': 'popularity', 'Artists': 'artists'}, inplace=True)
albums_df['release_date'] = pd.to_datetime(albums_df['release_date'], format='%Y-%m-%d', errors='coerce')
albums_df.head()

,album_id,album_name,release_date,total_tracks,popularity,artists
0,1XBTyV1if5X9sU4IhpfH5R,Adan y Eva,2018-11-05,1,60,Paulo Londra
1,4JPguzRps3kuWDD5GS6oXr,Memories...Do Not Open,2017-04-07,12,79,The Chainsmokers
2,6qJgVaJKgGU7TFoBzPLyqh,Hymn,2017-08-03,1,0,Kesha
3,6KMkuqIwKkwUhUYRPL6dUc,Concrete and Gold,2017-09-15,11,59,Foo Fighters
4,5Eevxp2BCbWq25ZdiXRwYd,One More Light,2017-05-19,10,72,Linkin Park

In [31]:
with engine.connect() as conn:
    albums_df.to_sql(name = "album", con = conn, schema = "spotify", if_exists = "replace", index = False, dtype = {"album_id": VARCHAR(length = 35), "album_name": VARCHAR(length = 300), 'release_date':Date, 'total_tracks':Integer, 'popularity': Integer})
    conn.execute(text('ALTER TABLE spotify.album ADD PRIMARY KEY (album_id);'))

üîµ **Creating Subgenre Table**

In [32]:
unique_subgenres = track_info["subgenre"].unique()
subgenre_df = pd.DataFrame({"subgenre_id": range(1, len(unique_subgenres) + 1), "subgenre_name": unique_subgenres}).set_index('subgenre_id')
subgenre_df.head()

                 subgenre_name
subgenre_id
1            argentine hip hop
2                    dance pop
3            alternative metal
4            conscious hip hop
5             canadian hip hop

In [33]:
with engine.connect() as conn:
    subgenre_df.to_sql(name = "subgenre", con = conn, schema = "spotify", if_exists = "replace", dtype = {"subgenre_id": Integer, "subgenre_name": VARCHAR(length = 35)})
    conn.execute(text('ALTER TABLE spotify.subgenre ADD PRIMARY KEY (subgenre_id);'))

üü£ **Creating Track Info Table**

In [34]:
track_info_df = track_info.copy()
track_info_df.rename(columns={'genre':'genres_name','subgenre':'subgenre_name'}, inplace=True)
track_info_df=pd.merge(track_info_df,genres_df.reset_index(),how='inner',on=['genres_name'])
track_info_df=pd.merge(track_info_df,subgenre_df.reset_index(),how='inner',on=['subgenre_name'])

track_info_df=track_info_df[['track_id','artist_id','genre_id','subgenre_id','album_id','Popularity','Title','Explicit','asc']].set_index('track_id')
track_info_df.rename(columns={'Popularity':'popularity','Title':'title','Explicit':'explicit','asc': 'track_asc'}, inplace=True)
track_info_df['explicit'] = track_info_df['explicit'].replace({0: False, 1: True})
track_info_df.head(3)

,artist_id,genre_id,subgenre_id,album_id,popularity,title,explicit,track_asc
track_id,,,,,,,,
6FyRXC8tJUh863JCkyWqtk,3vQ0GE3mI0dAaxIMYe5g7z,1,1,1XBTyV1if5X9sU4IhpfH5R,31833.95,adan y eva,False,s
4pXW6ZAHBz7ODXTRKklWrM,2x7PC78TmgqpEIjaGAZ0Oz,1,1,7AHKVMfKtUv9P06zjFHsGB,10804.15,mamichula - con nicki nicole,False,a
1EoEU4HY57qaITp06TkC6B,1bAftSH8umNcGZ0uyV7LMg,1,1,6lfI4LBcu46SL3TzSw3rWg,4900.80,goteo,False,s

In [35]:
query_track_info = text("""
CREATE TABLE track_info (
track_id VARCHAR(35),
artist_id VARCHAR(35),
genre_id INT,
subgenre_id INT,
album_id VARCHAR(35),
popularity FLOAT,
title VARCHAR(200),
explicit BOOLEAN,
track_asc CHAR(1),
PRIMARY KEY (track_id),
FOREIGN KEY (artist_id) REFERENCES artist(artist_id),
FOREIGN KEY (genre_id) REFERENCES genre(genre_id),
FOREIGN KEY (subgenre_id) REFERENCES subgenre(subgenre_id),
FOREIGN KEY (album_id) REFERENCES album(album_id)
);""")

In [36]:
with engine.connect() as conn:
    conn.execute(text('USE spotify;'))
    conn.execute(query_track_info)

In [37]:
with engine.connect() as conn:
    track_info_df.to_sql(name='track_info', con=conn, schema='spotify', if_exists='append', chunksize=50, method='multi')

‚ö™ **Creating Track Lyric Table**

In [38]:
track_lyric_df = track_lyric.copy()
track_lyric_df.drop("ldabing_norm_negative", axis = 1, inplace = True)
track_lyric_df.head(3)

,track_id,n_words,syuzhet_norm,bing_norm,afinn_norm,nrc_norm,syuzhet,bing,afinn,nrc,...,negative_norm2,positive_norm2,negative_bog_jr,positive_bog_jr,Bayes,Negative_Bayes,Neutral_Bayes,Positive_Bayes,bing_norm_neutral,bing_norm_positive
0,5xhJmd0I15jFcEdqxfCzKk,274,-1,-1,-1,-1,-2.00,-1,-7,-3,...,0.800000,0.200000,0.0,0.0,-1.0,1.0,0.0,0.0,0,0
1,7nAfXgeHfDO50upcOjJOaq,254,1,0,-1,0,1.10,0,-3,0,...,0.500000,0.500000,0.0,10.0,-1.0,1.0,0.0,0.0,1,0
2,6MR5IBSNfDmiwnrlQpVw4w,646,-1,-1,-1,-1,-1.15,-4,-26,-5,...,0.586207,0.413793,7.0,19.0,-1.0,1.0,0.0,0.0,0,0

In [39]:
column_data_types = {
    "track_id": VARCHAR(35),
    "n_words": Integer,
    "syuzhet_norm": Integer,
    "bing_norm": Integer,
    "afinn_norm": Integer,
    "nrc_norm": Integer,
    "syuzhet": Float,
    "bing": Integer,
    "afinn": Integer,
    "nrc": Integer,
    "anger": Integer,
    "anticipation": Integer,
    "disgust": Integer,
    "fear": Integer,
    "joy": Integer,
    "sadness": Integer,
    "surprise": Integer,
    "trust": Integer,
    "negative": Integer,
    "positive": Integer,
    "anger_norm": Float,
    "anticipation_norm": Float,
    "disgust_norm": Float,
    "fear_norm": Float,
    "joy_norm": Float,
    "sadness_norm": Float,
    "surprise_norm": Float,
    "trust_norm": Float,
    "negative_norm": Float,
    "positive_norm": Float,
    "anger_norm2": Float,
    "anticipation_norm2": Float,
    "disgust_norm2": Float,
    "fear_norm2": Float,
    "joy_norm2": Float,
    "sadness_norm2": Float,
    "surprise_norm2": Float,
    "trust_norm2": Float,
    "negative_norm2": Float,
    "positive_norm2": Float,
    "negative_bog_jr": Integer,
    "positive_bog_jr": Integer,
    "Bayes": Integer,
    "Negative_Bayes": Boolean,
    "Neutral_Bayes": Boolean,
    "Positive_Bayes": Boolean,
    "bing_norm_neutral": Boolean,
    "bing_norm_positive": Boolean,
}

with engine.connect() as conn:
    track_lyric_df.to_sql(name = "track_lyric", con = conn, schema = "spotify", if_exists = "replace", dtype = column_data_types, index = False)
    conn.execute(text('ALTER TABLE spotify.track_lyric ADD FOREIGN KEY (track_id) REFERENCES track_info(track_id);'))

üü¢ **Creating Daily Top 200 Table**

In [40]:
difference_list = set(dailytop200["track_id"].tolist()) - set(track_info["track_id"].tolist()) 
'''some of the track_id values in your dailytop200 DataFrame do not exist in the track_info table,
which violates the foreign key constraint. we will drop them'''

filtered_dailytop200 = dailytop200[~dailytop200["track_id"].isin(difference_list)].copy()
filtered_dailytop200.rename(columns = {"pos": "position", "date": "release_date"}, inplace = True) 
filtered_dailytop200.head(3)

                 track_id release_date country_iso2  position
0  47EiUVwUp4C9fGccaPuUCS   2020-11-05           XG         1
1  35mvY5S1H3J2QZyna3TFe0   2020-11-05           XG         2
2  3tjFYV6RSFtuktYl3ZtYcq   2020-11-05           XG         3

In [41]:
query_dailytop = text("""
CREATE TABLE daily_top_200 (
track_id VARCHAR(35),
country_iso2 VARCHAR(2),
release_date DATE,
position INT,
FOREIGN KEY (track_id) REFERENCES track_info(track_id),
FOREIGN KEY (country_iso2) REFERENCES countries(iso2)
);""")

In [42]:
with engine.connect() as conn:
    conn.execute(text('USE spotify;'))
    conn.execute(query_dailytop)

In [ ]:
with engine.connect() as conn:
    filtered_dailytop200.to_sql(name='daily_top_200', con=conn, schema='spotify', if_exists='append', index=False, chunksize=50, method='multi')

‚ö´ **Creating Track Music Table**

In [44]:
track_music_df = track_music.copy()
track_music_df.replace("n", np.nan, inplace = True)
track_music_df['mode'] = track_music_df['mode'].replace({'0': False, '1': True})
track_music_df.head(3)

,track_id,key,mode,loudness,tempo,duration_ms,time_signature,danceability,energy,speechiness,acoustics,instrumentalness,liveliness,valence
0,6FyRXC8tJUh863JCkyWqtk,1.0,True,-4.470,171.993,258639.0,4,0.767,0.709,0.3360,0.3230,0.000000,0.0676,0.72
1,5xhJmd0I15jFcEdqxfCzKk,6.0,False,-8.521,170.138,217613.0,4,0.572,0.530,0.0654,0.0647,0.000169,0.1270,0.12
2,0wJJhRgdHhT93Z3iWdMB0T,6.0,True,-4.974,67.037,205600.0,4,0.488,0.538,0.0760,0.1470,0.000000,0.3050,0.38

In [45]:
data_types = {
    "track_id": VARCHAR(35),
    "key": Integer,
    "mode": Boolean,
    "loudness": Float,
    "tempo": Float,
    "duration_ms": Integer,
    "time_signature": Integer,
    "danceability": Float,
    "energy": Float,
    "speechiness": Float,
    "acoustics": Float,
    "instrumentalness": Float,
    "liveliness": Float,
    "valence": Float
}

with engine.connect() as conn:
    track_music_df.to_sql(name = "track_music", con = conn, schema = "spotify", if_exists = "replace", index = False, dtype = data_types)
    conn.execute(text('ALTER TABLE spotify.track_music ADD FOREIGN KEY (track_id) REFERENCES track_info(track_id);'))

üî¥ **Creating Artist_Genre Table**

In [46]:
artists_copy=artists.copy()
artists_copy['Genres'] = artists_copy['Genres'].str.split(', ')
artists_copy = artists_copy.explode('Genres')
artists_copy=artists_copy[['artist_id','Genres']]
artists_copy.rename(columns={'Genres':'genres_name'},inplace=True)
artists_copy.head(3)

                artist_id        genres_name
0  3vQ0GE3mI0dAaxIMYe5g7z  argentine hip hop
0  3vQ0GE3mI0dAaxIMYe5g7z     trap argentino
0  3vQ0GE3mI0dAaxIMYe5g7z        trap latino

In [47]:
genres_df.reset_index().head(3)

   genre_id genres_name
0         1         hip
1         2         pop
2         3         met

In [48]:
artist_genre_df = pd.merge(genres_df.reset_index(), artists_copy ,how="inner", on=['genres_name'])
artist_genre_df.drop(columns=['genres_name'],inplace=True)
artist_genre_df.head(3)

   genre_id               artist_id
0         2  69GGBxA162lTqCwzJG5jLp
1         2  6LqNN22kT3074XbTVUrhzX
2         2  0du5cEVh5yTK9QJze8zA0C

In [49]:
with engine.connect() as conn:
    artist_genre_df.to_sql(name = "artist_genre", con = conn, schema = "spotify", if_exists = "replace", dtype ={'genre_id':Integer,'artist_id':VARCHAR(length = 35)}, index = False)
    conn.execute(text('ALTER TABLE spotify.artist_genre ADD (FOREIGN KEY (genre_id) REFERENCES genre(genre_id),FOREIGN KEY (artist_id) REFERENCES artist(artist_id));'))

üîµ **Creating Artist_Album Table**

In [51]:
album_copy=albums_df[['album_id','artists']].copy()
album_copy['artists'] = album_copy['artists'].str.split(', ')
album_copy = album_copy.explode('artists')
album_copy.rename(columns={'artists':'Name'},inplace=True)
album_copy.head(3)

                 album_id              Name
0  1XBTyV1if5X9sU4IhpfH5R      Paulo Londra
1  4JPguzRps3kuWDD5GS6oXr  The Chainsmokers
2  6qJgVaJKgGU7TFoBzPLyqh             Kesha

In [52]:
artists.head(3)

,artist_id,Name,Type,Popularity,Genres,Followers
0,3vQ0GE3mI0dAaxIMYe5g7z,Paulo Londra,artist,74,"argentine hip hop, trap argentino, trap latino...",22189494
1,69GGBxA162lTqCwzJG5jLp,The Chainsmokers,artist,78,"electropop, pop",20348703
2,6LqNN22kT3074XbTVUrhzX,Kesha,artist,74,"dance pop, pop",7620554

In [53]:
artist_album_df=pd.merge(album_copy,artists,how='inner',on=['Name'])
artist_album_df = artist_album_df.drop(columns=['Name','Type','Popularity','Genres','Followers']).drop_duplicates()
artist_album_df.head(3)

                 album_id               artist_id
0  1XBTyV1if5X9sU4IhpfH5R  3vQ0GE3mI0dAaxIMYe5g7z
1  039RvHRSbMCfQLsYcg70BQ  3vQ0GE3mI0dAaxIMYe5g7z
2  0vYYf2lqqXfCWXwhnjVDTZ  3vQ0GE3mI0dAaxIMYe5g7z

In [54]:
with engine.connect() as conn:
    artist_album_df.to_sql(name = "artist_album", con = conn, schema = "spotify", if_exists = "replace", dtype ={'artist_id':VARCHAR(length = 35),'album_id':VARCHAR(length = 35)}, index = False)
    conn.execute(text('ALTER TABLE spotify.artist_album ADD (FOREIGN KEY (album_id) REFERENCES album(album_id),FOREIGN KEY (artist_id) REFERENCES artist(artist_id));'))