üí≠ **Entity Relationship Diagram:** [Spotify Diagram](https://viewer.diagrams.net/?tags=%7B%7D&highlight=0000ff&edit=_blank&layers=1&nav=1#R7V1Zd9o4FP41nJM%2B0OMd80iWZjonTdOmnZnOC0fYAtQYi8pyAv31I3nDG%2BBgGxxGeQm6tmTru5%2Burq4W99SrxeqWgOX8E7ah01Mke9VTr3sK%2BzNl9o9L1qFkOFBDwYwgOxTJG8Ej%2Bg0joRRJfWRDL3MjxdihaJkVWth1oUUzMkAIfsneNsVO9qlLMIMFwaMFnKL0b2TTeSg1lcFG%2FgdEs3n8ZNkYhlcWIL45qok3BzZ%2BSYnUm556RTCm4a%2FF6go6HLwYlzDfhy1Xkxcj0KVVMjwC%2Bunv4eivnx%2F%2FfZA%2F4qcvztTqR6U8A8ePKmxh36UEMczDt6brGArvBS0c4LLUpTVHjn0H1tjnj%2FYosJ7i1OUcE%2FQbuxQ47JLMBOwyoZFmdSlzxyPPycRcStiDbWhHmabsepRH1uJ09C5SUCjBT4lKFJ4feuz%2BhxgPKRHdAY%2FGrxLrgF%2B1gTcPnscTwEEzl%2F22WG5IuIBY0fP541%2FmiMLHJbC44IVRnVeDLuIqTpHjXGEHkwAp1QbQnFrJW6auGJYJJ1N2pai9WBWQULhKiSJt3kK8gJSs2S3R1b6uRdSK2pZm6GH6ZcNU2YjumadYOoxkIGocs6TsDX%2FYj4hCr6CTUqBTTzEcGukvaKYxFMYvnzOfAaFOp5JkSmmRMeP%2FkYeVi6s%2FRl9ZRuVdXBJ7sbCw8KZYPCGxJGTw%2BuKv0dc4s%2FSuwOZY4Q6c0oKmXBzQPK3WSOQxDiB3dhfkutZyTOU85ApEzICMogdQvIypCCYJfwmmgKbSjAkxSVO8KrJkZyveT52IKbpUjShaW0RRC0SxAXLWYwbWWJGkgraE7alse3Ro2lqZ7TGViWoYDdkeVcrZnqqUkpW2OKUdZHwk9mdZReNDCaPHGNkpM6Lq1Y1QnUdHBmz8avuXajFxmRNMbEj60fNHAT7kot9Py9%2BFxeTewgYUXlyPvt28K9ZuiT1EEXYvPt5%2FO2%2FTqlZuGa80rYO2moFeaAYhlRe%2BhyxhWA82rNMpNKxSp84eDCeS1JJhNdSKhFKMthhlHNGwFi1ozt49wXVkdcLLzGq4pZav%2BOS9WQJC9L2QEdxWLgncVhJYcLq4E295WHp7bcPX2ylesHH2xeXnz3c3o%2FvOIVGrZg72bRd63sWHu8%2Bj02u5Vl0oXCzxOVTE9gng3f144Ym2R9ECjj3WsQDqE9hJPOopG7gWBBPkILpukbysP6T9sNPltXNx1AHXg4o7tA5YehvMPEie22kVW8TQhWQmkDtA7C0hZE5oh8x%2Fow0LsHGdx8YvXa3cUa0ocpkb7S8gHzB0WOFHxcRBz9DpEv1r1YYNFyDrSZKqnHGQQK88yntlkCCZBmt8TDfYEiVA7hSLIMHhQQLTguVBgompa3pTQQIlGyPQlZPzyWx05qdmjKDKo7eFJxhjkUdfG%2Fjdam4Pj7%2FusbbNhJpn0CWQVzYaxmztzxqtmudP8g%2FO1Qk4E39xePR9iZe%2BA0i7I5juORAUUQemIJMl6Y3V%2FHXjh87VqYt1qMUouFo6yEK01WBj868NPCueOJPfyCuHXZ7rLyaQnP%2B02qCyy%2FNKj1lubRZkWPBwgj5MOMs1ZtSmypYZNWNi6A0tVdCzvnLiAp9skVT8Ag35yns8qS0%2BU5jLBYu0v6Cft9EZVqZOV5ZJycX1mbHvLOzOwXYHyrYOB2V2Z2gMVNDUEinFzFkeo4RO5lEtj9Ko5dk2jNs7PEsy5uyPeuYGSG5koWYZZdqzQMXFH6Gn6qyJWE5UwwhNJKhCo8wISdCUTLMZIyTLWRtklng%2FyXrbzPI0vTVGFUPPdSJYNddpuuMXTOxuLGuoNX701v7vOaRjF5NFJ2pz0kjYhNn%2B7kBRL5YxRa7bnbqcVK0usbqDRBPN9Rwmenlb64RCTkrNoJkKGFgLFSAAd5YEcf%2FXMLABFlqC1E6R%2FzEaNvJmvkcFEFMIutE4atXiJxb7EC49EC7Wf4tA1Ku4T5YEed1c%2Fn3cNQdEGDVeDJyxfu5ZECLaGyqQiNzAcLzajWFeZ7xBAUrWKRR4pHxDAcbGxRRYZD1NgUfOARWApP1QgUbOHRWA5LxSAUjBOVUEHCXeqUCll3VPBSC9lH8q0OhtHFQBRi%2FroQpAejkXVSDSS%2FuoAo5ezkkViPRyXqpAJM2RCZ6Nf57BvGGi4g5V6KQavgRr%2BDZnEBuF4T4meohHVw93OzImPiXAEZBsxA%2Bx%2BThDTE63cfrNqD9Z1zx2w7ZxXgyoD0sy%2B7zB5Zw3FBmVN4Rs31BUvv9DamD%2Fxz2kV9fPiqJBbYGcX8uR%2Fu%2B0L2sFlUB7BuONO5jQOZ5hFzg3G2lq4w%2FHbHPPHeYgB5D9hJSuI30An%2BIsoHCF6D88%2B3s9Sv2ICuO%2Fr1fpxDpO8FO4U5l48kdcHk9ssgWpTT57xD89wpI3Xxl7vuFPwF2HFz4gjlZw29btPR72iQV3qT06bYcCMoN0B9bRwVQc353kINAJnI%2FMazS%2F86d4SFB42o7YRlZnD%2F002CxW2EamGupQtXfxrPo2MlXObiNTh1WPY2jttH%2B5eB5D3Dkcspd1z7FPe%2FfTR%2FnLNrTmS0gdTlS%2BZX%2BKHQe%2FQOKd%2FzkgiUno5Pn6X5bDL8b3%2B7n3XV49mVe39yv9Ov7GzWm6r%2Fh30Hm9V%2BK%2BbE%2F%2F1ZfeS1LSa4V5VWN%2FN8ZSD5Aghhu3U8fp25Ri17brax%2FH79pKSXFanyZDioqcyNFB0feyoWXFl%2Fg0b0DxenesQQ1jYJj71b%2FbGESdTFNkMCqSwewUGYzOkKHquEbJDGykU9sAuar1H3RK74PujGjlqpofqlpa9Vmr0CmPIB57dJcUpWPvpH4dYEVle6CpwzQr5PeSPjw1KcqjSEVOlN%2BndooUxfO8gpNuC0wRAZDK5%2BgAy7TVwjiYXVFUTdMbCoDog2wARB9W%2FNSqrLYVR1UKVKoV%2F9h54PL%2B8EeQvUr0g7UzCDw43vV5QYoZX8fByT7elhhJIYhyHkGSnUaj8RiJ2RY31e50fRUdolMOh3c17%2BOPgIKsrG5gnbphiZFLvVTJD1ywsY9G7pTVgaanSVS4X1Xr3W%2FIUo6k4RtvKJtU%2FXAWFz8oG0V5xQGcNSctgD0A5V%2FJ0BiTtGb67PykxVFP%2Ft01HdfQyXeVpyyqHdJ5xh2oVpk6Jzj4t%2FSNh6IDrR02GFbsQU8WNnj%2BNbslQ391%2F%2Bctmhs%2FvgPH6Ze69TuowGBhPvDX4NWwm6ZDvt2lFb0N%2ByyFNnGBrG73qvaA8PThei5R8y4jsFfN6TZftjImEb7Ooyq4NHLOZdLy3nhY8yjXDt8of8K9mi8ohKZQUFNuUsmp0lHXJGIb9fwkW7IgVMr8JN3Q5QFsKLaRO6dckyrGNlrzk%2BKg3bEdpVd%2BdeqMPaakTb8dl0k%2Bqc902MIMPumiZjtXTTL3ek4nmYWp2s%2FG1OlIxH2P%2F9QpV7qt2fSqSyvi5cStq44lCeY2euOHsL5w%2FgnbkN%2FxHw%3D%3D)

**Importing Libraries** üìö

In [81]:
import os
import patoolib
import numpy as np
import pandas as pd
from urllib.parse import quote_plus
from sqlalchemy import URL
from sqlalchemy import create_engine, ForeignKeyConstraint, text
from sqlalchemy.types import Integer, Float, Boolean, VARCHAR, CHAR, Date

**Reading CSV files** ‚úÖ

In [82]:
if not os.path.exists("Spotify Data/dailytop200.csv"):
    patoolib.extract_archive("Spotify Data/dailytop200.rar", outdir="Spotify Data")

In [83]:
albums = pd.read_csv("Spotify Data/albums.csv")
artists = pd.read_csv("Spotify Data/artists.csv")
countries = pd.read_csv("Spotify Data/countries.csv")
track_info = pd.read_csv("Spotify Data/track_info.csv")
dailytop200 = pd.read_csv("Spotify Data/dailytop200.csv")
track_lyric = pd.read_csv("Spotify Data/track_lyric.csv")
track_music = pd.read_csv("Spotify Data/track_music.csv")

**Creating and Connecting to DataBase** üìù

In [84]:
url_object = URL.create(
    "mysql+mysqlconnector",
    username="root",
    password="farzansql", #Your Password
    host="localhost",
)

In [85]:
engine = create_engine(url_object)
with engine.connect() as conn :
    conn.execute(text('drop schema if exists spotify;'))
    conn.execute(text('CREATE SCHEMA IF NOT EXISTS spotify;'))

üî¥ **Creating Countries Table**

In [86]:
countries_df = countries.copy()
countries_df = countries.rename(columns = {"Country": "country"}).set_index('iso2')
countries_df.head()

        country
iso2
XG       Global
AR    Argentina
AU    Australia
AT      Austria
BE      Belgium

In [87]:
with engine.connect() as conn:
    countries_df.to_sql(name = "countries", con = conn, schema = "spotify", if_exists = "replace",
                          dtype = {"country": VARCHAR(length=20),"iso2": VARCHAR(length=2)})
    conn.execute(text('ALTER TABLE spotify.countries ADD PRIMARY KEY (iso2);'))

üü† **Creating Genre Table**

In [88]:
genres=pd.concat((track_info.genre, artists.Genres)).str.split(',').explode()
genres = genres.str.strip().unique()
genres_df=pd.DataFrame({'genres_name':genres}).dropna()
genres_df = genres_df.assign(genre_id=lambda x: x.index + 1).set_index('genre_id')
genres_df.head()

         genres_name
genre_id
1                hip
2                pop
3                met
4                ind
5                rap

In [89]:
with engine.connect() as conn:
    genres_df.to_sql(name = "genre", con = conn, schema = "spotify", if_exists = "replace", dtype = {"genre_id": Integer, "genres_name": VARCHAR(length = 40)})
    conn.execute(text('ALTER TABLE spotify.genre ADD PRIMARY KEY (genre_id);'))

üü° **Creating Artist Table**

In [90]:
artists_df = artists[['artist_id','Name','Popularity','Followers']].set_index('artist_id')
artists_df[artists_df.duplicated(keep=False)]

                             Name  Popularity  Followers
artist_id
2lbUjuMzHkT4qIECvk2f3L    Kris Wu          39     803574
650ZvsETuttSbMAgAodNTv    Kris Wu          39     803574
3WYT2b8pOLsLsqSaoWYr7U  Sodagreen          53     502062
6vypgNeJSC6ipU9mVO1J2Q  Sodagreen          53     502062
1apmSb6aeHZyr9zUsy1Z9q       VaVa          40      63669
6NXVndo53WAgYiqCVxkKft       VaVa          40      63669

In [91]:
 track_info = track_info.replace({'artist_id': {'650ZvsETuttSbMAgAodNTv': '2lbUjuMzHkT4qIECvk2f3L', 
                                               '6vypgNeJSC6ipU9mVO1J2Q': '3WYT2b8pOLsLsqSaoWYr7U', 
                                               '6NXVndo53WAgYiqCVxkKft': '1apmSb6aeHZyr9zUsy1Z9q'}})
track_info.head(2)

,track_id,Popularity,Title,artist_id,genre,subgenre,Explicit,album_id,asc,Release_date,Track_number
0,6FyRXC8tJUh863JCkyWqtk,31833.95,adan y eva,3vQ0GE3mI0dAaxIMYe5g7z,hip,argentine hip hop,0,1XBTyV1if5X9sU4IhpfH5R,s,2018-11-05,1
1,5xhJmd0I15jFcEdqxfCzKk,418.00,it wont kill ya,69GGBxA162lTqCwzJG5jLp,pop,dance pop,0,4JPguzRps3kuWDD5GS6oXr,a,2017-04-07,7

In [92]:
artists_df = artists_df.drop_duplicates()
artists_df.rename(columns={'Name': 'artist_name' ,'Popularity':'popularity', 'Followers':'followers'}, inplace=True)
artists_df.head()

                             artist_name  popularity  followers
artist_id
3vQ0GE3mI0dAaxIMYe5g7z      Paulo Londra          74   22189494
69GGBxA162lTqCwzJG5jLp  The Chainsmokers          78   20348703
6LqNN22kT3074XbTVUrhzX             Kesha          74    7620554
7jy3rLJdDQY21OgRLCZ9sD      Foo Fighters          77   11191467
6XyY86QOPPrYVGvF9ch6wz       Linkin Park          83   24144132

In [93]:
with engine.connect() as conn:
    artists_df.to_sql(name = "artist", con = conn, schema = "spotify", if_exists = "replace", dtype = {"artist_id": VARCHAR(length = 35), "artist_name": VARCHAR(length = 100), 'popularity':Integer, 'followers':Integer})
    conn.execute(text('ALTER TABLE spotify.artist ADD PRIMARY KEY (artist_id);'))

üü§ **Creating Album Table**

In [94]:
albums_df = albums.dropna(subset='Name')
albums_df_duplicated = albums_df[albums_df.drop('album_id', axis=1).duplicated(keep=False)].sort_values(by='Name')
albums_df_duplicated

,album_id,Name,Release Date,Total Tracks,Popularity,Artists
2097,4r9fXZWP29khOI8WaHtsgA,...Ready For It?,2017-09-03,1,0,Taylor Swift
812,0HG8fMDhvN2tH5uPHFsyZP,...Ready For It?,2017-09-03,1,0,Taylor Swift
2423,5WkCcZVlQGXchpo6vEbM0d,4 AM,2017-05-30,1,0,2 Chainz
1167,2F8dlOaUdM5h6SYOjivyiU,4 AM,2017-05-30,1,0,2 Chainz
12798,7oMha1U1cFITFdKeTVeoft,A Muse In Her Feelings,2020-04-17,16,0,dvsn
...,...,...,...,...,...,...
37375,7oZSsVqUUbcCGNJhxY4qTt,ÂêüÈÅä,2018-08-02,10,0,ÊüØÊô∫Ê£†
34418,7tIeoJ3aXRv664bF11K6Uv,Â∑Æ‰∏çÂ§öÂßëÂ®ò,2019-07-21,1,0,G.E.M.
34372,2hq1l2JIxuKPKWX9npWclu,Â∑Æ‰∏çÂ§öÂßëÂ®ò,2019-07-21,1,0,G.E.M.
36926,6fLCimyzuiTMM1qUtFNP7b,ÈÄ≤Êìä‰∏ãÂçäÂ†¥,2017-04-14,21,0,Fire EX.
36597,07sd9FUBm9SudCIT52xxeU,ÈÄ≤Êìä‰∏ãÂçäÂ†¥,2017-04-14,21,0,Fire EX.

In [95]:
track_info = track_info.replace({'album_id': {albums_df_duplicated.iloc[i+1]['album_id']: albums_df_duplicated.iloc[i]['album_id'] for i in range(0, len(albums_df_duplicated), 2)}})
track_info.head(2)

,track_id,Popularity,Title,artist_id,genre,subgenre,Explicit,album_id,asc,Release_date,Track_number
0,6FyRXC8tJUh863JCkyWqtk,31833.95,adan y eva,3vQ0GE3mI0dAaxIMYe5g7z,hip,argentine hip hop,0,1XBTyV1if5X9sU4IhpfH5R,s,2018-11-05,1
1,5xhJmd0I15jFcEdqxfCzKk,418.00,it wont kill ya,69GGBxA162lTqCwzJG5jLp,pop,dance pop,0,4JPguzRps3kuWDD5GS6oXr,a,2017-04-07,7

In [96]:
albums_df = albums_df.drop_duplicates(subset=['Name', 'Release Date', 'Total Tracks', 'Popularity', 'Artists'])
albums_df_duplicated = albums_df[albums_df.duplicated(subset=['Name','Release Date','Total Tracks','Artists'], keep=False)].sort_values(by=['Name', 'Popularity'])
albums_df_duplicated

,album_id,Name,Release Date,Total Tracks,Popularity,Artists
36275,5EseKloMRXDuQZhErHuTTA,#osnrap,2019-04-30,10,0,È´òÁàæÂÆ£ OSN
25652,4b65l6XzLp2Eg6lDTMmO1k,#osnrap,2019-04-30,10,61,È´òÁàæÂÆ£ OSN
17637,0vD5jXHysIvJCjzBEcLZwt,+ Es + (El Concierto / En Directo En El Estadi...,2017-12-08,13,0,Alejandro Sanz
13842,6NmuOSiXv5WoA5lYjemVTt,+ Es + (El Concierto / En Directo En El Estadi...,2017-12-08,13,63,Alejandro Sanz
12141,5BHsJsz0eSBdWjAJYdFm76,10 Anos Na Praia (Ao Vivo),2020-05-29,19,0,Matheus & Kauan
...,...,...,...,...,...,...
36679,6fQWn6AMg9PYShzE7b7awn,Â•≥‰πü,2015-06-26,10,49,Various Artists
36744,57vpXaXBmxS9AYvbbfJD7Y,Ë°Ä„ÄÅÊ±ó„ÄÅÊ∂ô,2017-05-10,3,0,BTS
22410,1rxOBsRqYTRBhltSLWjseF,Ë°Ä„ÄÅÊ±ó„ÄÅÊ∂ô,2017-05-10,3,31,BTS
34341,7cOub5T2SxvBkPVq6LEZZm,ÈÇÑÊòØÊÉ≥Âøµ,2016-12-30,12,0,Jia Jia
38132,4Bay19OUdTjD1eB7NOF4dP,ÈÇÑÊòØÊÉ≥Âøµ,2016-12-30,12,47,Jia Jia

In [97]:
track_info = track_info.replace({'album_id': {albums_df_duplicated.iloc[i]['album_id']: albums_df_duplicated.iloc[i+1]['album_id'] for i in range(0, len(albums_df_duplicated), 2)}})
track_info.head(2)

,track_id,Popularity,Title,artist_id,genre,subgenre,Explicit,album_id,asc,Release_date,Track_number
0,6FyRXC8tJUh863JCkyWqtk,31833.95,adan y eva,3vQ0GE3mI0dAaxIMYe5g7z,hip,argentine hip hop,0,1XBTyV1if5X9sU4IhpfH5R,s,2018-11-05,1
1,5xhJmd0I15jFcEdqxfCzKk,418.00,it wont kill ya,69GGBxA162lTqCwzJG5jLp,pop,dance pop,0,4JPguzRps3kuWDD5GS6oXr,a,2017-04-07,7

In [98]:
albums_df = albums_df.drop_duplicates(subset=['Name','Release Date','Total Tracks','Artists'], keep='last').set_index('album_id')
albums_df.rename(columns={'Name': 'album_name' ,'Release Date':'release_date', 'Total Tracks':'total_tracks', 'Popularity': 'popularity'}, inplace=True)
albums_df['release_date'] = pd.to_datetime(albums_df['release_date'], format='%Y-%m-%d', errors='coerce')
albums_df.head()

,album_name,release_date,total_tracks,popularity,Artists
album_id,,,,,
1XBTyV1if5X9sU4IhpfH5R,Adan y Eva,2018-11-05,1,60,Paulo Londra
4JPguzRps3kuWDD5GS6oXr,Memories...Do Not Open,2017-04-07,12,79,The Chainsmokers
6qJgVaJKgGU7TFoBzPLyqh,Hymn,2017-08-03,1,0,Kesha
6KMkuqIwKkwUhUYRPL6dUc,Concrete and Gold,2017-09-15,11,59,Foo Fighters
5Eevxp2BCbWq25ZdiXRwYd,One More Light,2017-05-19,10,72,Linkin Park

In [99]:
with engine.connect() as conn:
    albums_df.to_sql(name = "album", con = conn, schema = "spotify", if_exists = "replace", dtype = {"album_id": VARCHAR(length = 35), "album_name": VARCHAR(length = 300), 'release_date':Date, 'total_tracks':Integer, 'popularity': Integer})
    conn.execute(text('ALTER TABLE spotify.album ADD PRIMARY KEY (album_id);'))

üîµ **Creating Subgenre Table**

In [100]:
unique_subgenres = track_info["subgenre"].unique()
subgenre_df = pd.DataFrame({"subgenre_id": range(1, len(unique_subgenres) + 1), "subgenre_name": unique_subgenres}).set_index('subgenre_id')
subgenre_df.head()

                 subgenre_name
subgenre_id
1            argentine hip hop
2                    dance pop
3            alternative metal
4            conscious hip hop
5             canadian hip hop

In [101]:
with engine.connect() as conn:
    subgenre_df.to_sql(name = "subgenre", con = conn, schema = "spotify", if_exists = "replace", dtype = {"subgenre_id": Integer, "subgenre_name": VARCHAR(length = 35)})
    conn.execute(text('ALTER TABLE spotify.subgenre ADD PRIMARY KEY (subgenre_id);'))

üü£ **Creating Track Info Table**

In [108]:
track_info_df = track_info.copy()


track_info_df.rename(columns={'genre':'genres_name','subgenre':'subgenre_name'}, inplace=True)
track_info_df=pd.merge(track_info_df,genres_df.reset_index(),how='inner',on=['genres_name'])
track_info_df=pd.merge(track_info_df,subgenre_df.reset_index(),how='inner',on=['subgenre_name'])

track_info_df=track_info_df[['track_id','artist_id','genre_id','subgenre_id','album_id','Popularity','Title','Explicit','asc','Track_number']].set_index('track_id')
track_info_df.rename(columns={'Popularity':'popularity','Title':'title','Explicit':'explicit','asc': 'track_asc','Track_number':'track_number'}, inplace=True)
track_info_df.head(3)

,artist_id,genre_id,subgenre_id,album_id,popularity,title,explicit,track_asc,track_number
track_id,,,,,,,,,
6FyRXC8tJUh863JCkyWqtk,3vQ0GE3mI0dAaxIMYe5g7z,1,1,1XBTyV1if5X9sU4IhpfH5R,31833.95,adan y eva,0,s,1
4pXW6ZAHBz7ODXTRKklWrM,2x7PC78TmgqpEIjaGAZ0Oz,1,1,7AHKVMfKtUv9P06zjFHsGB,10804.15,mamichula - con nicki nicole,0,a,10
1EoEU4HY57qaITp06TkC6B,1bAftSH8umNcGZ0uyV7LMg,1,1,6lfI4LBcu46SL3TzSw3rWg,4900.80,goteo,0,s,1

In [103]:
query_track_info = text("""
CREATE TABLE track_info (
track_id VARCHAR(35),
artist_id VARCHAR(35),
genre_id INT,
subgenre_id INT,
album_id VARCHAR(35),
popularity FLOAT,
title VARCHAR(200),
explicit BOOLEAN,
track_asc CHAR(1),
track_number INT,
PRIMARY KEY (track_id),
FOREIGN KEY (artist_id) REFERENCES artist(artist_id),
FOREIGN KEY (genre_id) REFERENCES genre(genre_id),
FOREIGN KEY (subgenre_id) REFERENCES subgenre(subgenre_id),
FOREIGN KEY (album_id) REFERENCES album(album_id)
);""")

In [104]:
with engine.connect() as conn:
    conn.execute(text('USE spotify;'))
    conn.execute(query_track_info)

In [109]:
with engine.connect() as conn:
    track_info_df.to_sql(name='track_info', con=conn, schema='spotify', if_exists='append', chunksize=50, method='multi')

IntegrityError: (mysql.connector.errors.IntegrityError) 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`spotify`.`track_info`, CONSTRAINT `track_info_ibfk_4` FOREIGN KEY (`album_id`) REFERENCES `album` (`album_id`))
[SQL: INSERT INTO spotify.track_info (track_id, artist_id, genre_id, subgenre_id, album_id, popularity, title, explicit, track_asc, track_number) VALUES (%(track_id_m0)s, %(artist_id_m0)s, %(genre_id_m0)s, %(subgenre_id_m0)s, %(album_id_m0)s, %(popularity_m0)s, %(title_m0)s, %(explicit_m0)s, %(track_asc_m0)s, %(track_number_m0)s), (%(track_id_m1)s, %(artist_id_m1)s, %(genre_id_m1)s, %(subgenre_id_m1)s, %(album_id_m1)s, %(popularity_m1)s, %(title_m1)s, %(explicit_m1)s, %(track_asc_m1)s, %(track_number_m1)s), (%(track_id_m2)s, %(artist_id_m2)s, %(genre_id_m2)s, %(subgenre_id_m2)s, %(album_id_m2)s, %(popularity_m2)s, %(title_m2)s, %(explicit_m2)s, %(track_asc_m2)s, %(track_number_m2)s), (%(track_id_m3)s, %(artist_id_m3)s, %(genre_id_m3)s, %(subgenre_id_m3)s, %(album_id_m3)s, %(popularity_m3)s, %(title_m3)s, %(explicit_m3)s, %(track_asc_m3)s, %(track_number_m3)s), (%(track_id_m4)s, %(artist_id_m4)s, %(genre_id_m4)s, %(subgenre_id_m4)s, %(album_id_m4)s, %(popularity_m4)s, %(title_m4)s, %(explicit_m4)s, %(track_asc_m4)s, %(track_number_m4)s), (%(track_id_m5)s, %(artist_id_m5)s, %(genre_id_m5)s, %(subgenre_id_m5)s, %(album_id_m5)s, %(popularity_m5)s, %(title_m5)s, %(explicit_m5)s, %(track_asc_m5)s, %(track_number_m5)s), (%(track_id_m6)s, %(artist_id_m6)s, %(genre_id_m6)s, %(subgenre_id_m6)s, %(album_id_m6)s, %(popularity_m6)s, %(title_m6)s, %(explicit_m6)s, %(track_asc_m6)s, %(track_number_m6)s), (%(track_id_m7)s, %(artist_id_m7)s, %(genre_id_m7)s, %(subgenre_id_m7)s, %(album_id_m7)s, %(popularity_m7)s, %(title_m7)s, %(explicit_m7)s, %(track_asc_m7)s, %(track_number_m7)s), (%(track_id_m8)s, %(artist_id_m8)s, %(genre_id_m8)s, %(subgenre_id_m8)s, %(album_id_m8)s, %(popularity_m8)s, %(title_m8)s, %(explicit_m8)s, %(track_asc_m8)s, %(track_number_m8)s), (%(track_id_m9)s, %(artist_id_m9)s, %(genre_id_m9)s, %(subgenre_id_m9)s, %(album_id_m9)s, %(popularity_m9)s, %(title_m9)s, %(explicit_m9)s, %(track_asc_m9)s, %(track_number_m9)s), (%(track_id_m10)s, %(artist_id_m10)s, %(genre_id_m10)s, %(subgenre_id_m10)s, %(album_id_m10)s, %(popularity_m10)s, %(title_m10)s, %(explicit_m10)s, %(track_asc_m10)s, %(track_number_m10)s), (%(track_id_m11)s, %(artist_id_m11)s, %(genre_id_m11)s, %(subgenre_id_m11)s, %(album_id_m11)s, %(popularity_m11)s, %(title_m11)s, %(explicit_m11)s, %(track_asc_m11)s, %(track_number_m11)s), (%(track_id_m12)s, %(artist_id_m12)s, %(genre_id_m12)s, %(subgenre_id_m12)s, %(album_id_m12)s, %(popularity_m12)s, %(title_m12)s, %(explicit_m12)s, %(track_asc_m12)s, %(track_number_m12)s), (%(track_id_m13)s, %(artist_id_m13)s, %(genre_id_m13)s, %(subgenre_id_m13)s, %(album_id_m13)s, %(popularity_m13)s, %(title_m13)s, %(explicit_m13)s, %(track_asc_m13)s, %(track_number_m13)s), (%(track_id_m14)s, %(artist_id_m14)s, %(genre_id_m14)s, %(subgenre_id_m14)s, %(album_id_m14)s, %(popularity_m14)s, %(title_m14)s, %(explicit_m14)s, %(track_asc_m14)s, %(track_number_m14)s), (%(track_id_m15)s, %(artist_id_m15)s, %(genre_id_m15)s, %(subgenre_id_m15)s, %(album_id_m15)s, %(popularity_m15)s, %(title_m15)s, %(explicit_m15)s, %(track_asc_m15)s, %(track_number_m15)s), (%(track_id_m16)s, %(artist_id_m16)s, %(genre_id_m16)s, %(subgenre_id_m16)s, %(album_id_m16)s, %(popularity_m16)s, %(title_m16)s, %(explicit_m16)s, %(track_asc_m16)s, %(track_number_m16)s), (%(track_id_m17)s, %(artist_id_m17)s, %(genre_id_m17)s, %(subgenre_id_m17)s, %(album_id_m17)s, %(popularity_m17)s, %(title_m17)s, %(explicit_m17)s, %(track_asc_m17)s, %(track_number_m17)s), (%(track_id_m18)s, %(artist_id_m18)s, %(genre_id_m18)s, %(subgenre_id_m18)s, %(album_id_m18)s, %(popularity_m18)s, %(title_m18)s, %(explicit_m18)s, %(track_asc_m18)s, %(track_number_m18)s), (%(track_id_m19)s, %(artist_id_m19)s, %(genre_id_m19)s, %(subgenre_id_m19)s, %(album_id_m19)s, %(popularity_m19)s, %(title_m19)s, %(explicit_m19)s, %(track_asc_m19)s, %(track_number_m19)s), (%(track_id_m20)s, %(artist_id_m20)s, %(genre_id_m20)s, %(subgenre_id_m20)s, %(album_id_m20)s, %(popularity_m20)s, %(title_m20)s, %(explicit_m20)s, %(track_asc_m20)s, %(track_number_m20)s), (%(track_id_m21)s, %(artist_id_m21)s, %(genre_id_m21)s, %(subgenre_id_m21)s, %(album_id_m21)s, %(popularity_m21)s, %(title_m21)s, %(explicit_m21)s, %(track_asc_m21)s, %(track_number_m21)s), (%(track_id_m22)s, %(artist_id_m22)s, %(genre_id_m22)s, %(subgenre_id_m22)s, %(album_id_m22)s, %(popularity_m22)s, %(title_m22)s, %(explicit_m22)s, %(track_asc_m22)s, %(track_number_m22)s), (%(track_id_m23)s, %(artist_id_m23)s, %(genre_id_m23)s, %(subgenre_id_m23)s, %(album_id_m23)s, %(popularity_m23)s, %(title_m23)s, %(explicit_m23)s, %(track_asc_m23)s, %(track_number_m23)s), (%(track_id_m24)s, %(artist_id_m24)s, %(genre_id_m24)s, %(subgenre_id_m24)s, %(album_id_m24)s, %(popularity_m24)s, %(title_m24)s, %(explicit_m24)s, %(track_asc_m24)s, %(track_number_m24)s), (%(track_id_m25)s, %(artist_id_m25)s, %(genre_id_m25)s, %(subgenre_id_m25)s, %(album_id_m25)s, %(popularity_m25)s, %(title_m25)s, %(explicit_m25)s, %(track_asc_m25)s, %(track_number_m25)s), (%(track_id_m26)s, %(artist_id_m26)s, %(genre_id_m26)s, %(subgenre_id_m26)s, %(album_id_m26)s, %(popularity_m26)s, %(title_m26)s, %(explicit_m26)s, %(track_asc_m26)s, %(track_number_m26)s), (%(track_id_m27)s, %(artist_id_m27)s, %(genre_id_m27)s, %(subgenre_id_m27)s, %(album_id_m27)s, %(popularity_m27)s, %(title_m27)s, %(explicit_m27)s, %(track_asc_m27)s, %(track_number_m27)s), (%(track_id_m28)s, %(artist_id_m28)s, %(genre_id_m28)s, %(subgenre_id_m28)s, %(album_id_m28)s, %(popularity_m28)s, %(title_m28)s, %(explicit_m28)s, %(track_asc_m28)s, %(track_number_m28)s), (%(track_id_m29)s, %(artist_id_m29)s, %(genre_id_m29)s, %(subgenre_id_m29)s, %(album_id_m29)s, %(popularity_m29)s, %(title_m29)s, %(explicit_m29)s, %(track_asc_m29)s, %(track_number_m29)s), (%(track_id_m30)s, %(artist_id_m30)s, %(genre_id_m30)s, %(subgenre_id_m30)s, %(album_id_m30)s, %(popularity_m30)s, %(title_m30)s, %(explicit_m30)s, %(track_asc_m30)s, %(track_number_m30)s), (%(track_id_m31)s, %(artist_id_m31)s, %(genre_id_m31)s, %(subgenre_id_m31)s, %(album_id_m31)s, %(popularity_m31)s, %(title_m31)s, %(explicit_m31)s, %(track_asc_m31)s, %(track_number_m31)s), (%(track_id_m32)s, %(artist_id_m32)s, %(genre_id_m32)s, %(subgenre_id_m32)s, %(album_id_m32)s, %(popularity_m32)s, %(title_m32)s, %(explicit_m32)s, %(track_asc_m32)s, %(track_number_m32)s), (%(track_id_m33)s, %(artist_id_m33)s, %(genre_id_m33)s, %(subgenre_id_m33)s, %(album_id_m33)s, %(popularity_m33)s, %(title_m33)s, %(explicit_m33)s, %(track_asc_m33)s, %(track_number_m33)s), (%(track_id_m34)s, %(artist_id_m34)s, %(genre_id_m34)s, %(subgenre_id_m34)s, %(album_id_m34)s, %(popularity_m34)s, %(title_m34)s, %(explicit_m34)s, %(track_asc_m34)s, %(track_number_m34)s), (%(track_id_m35)s, %(artist_id_m35)s, %(genre_id_m35)s, %(subgenre_id_m35)s, %(album_id_m35)s, %(popularity_m35)s, %(title_m35)s, %(explicit_m35)s, %(track_asc_m35)s, %(track_number_m35)s), (%(track_id_m36)s, %(artist_id_m36)s, %(genre_id_m36)s, %(subgenre_id_m36)s, %(album_id_m36)s, %(popularity_m36)s, %(title_m36)s, %(explicit_m36)s, %(track_asc_m36)s, %(track_number_m36)s), (%(track_id_m37)s, %(artist_id_m37)s, %(genre_id_m37)s, %(subgenre_id_m37)s, %(album_id_m37)s, %(popularity_m37)s, %(title_m37)s, %(explicit_m37)s, %(track_asc_m37)s, %(track_number_m37)s), (%(track_id_m38)s, %(artist_id_m38)s, %(genre_id_m38)s, %(subgenre_id_m38)s, %(album_id_m38)s, %(popularity_m38)s, %(title_m38)s, %(explicit_m38)s, %(track_asc_m38)s, %(track_number_m38)s), (%(track_id_m39)s, %(artist_id_m39)s, %(genre_id_m39)s, %(subgenre_id_m39)s, %(album_id_m39)s, %(popularity_m39)s, %(title_m39)s, %(explicit_m39)s, %(track_asc_m39)s, %(track_number_m39)s), (%(track_id_m40)s, %(artist_id_m40)s, %(genre_id_m40)s, %(subgenre_id_m40)s, %(album_id_m40)s, %(popularity_m40)s, %(title_m40)s, %(explicit_m40)s, %(track_asc_m40)s, %(track_number_m40)s), (%(track_id_m41)s, %(artist_id_m41)s, %(genre_id_m41)s, %(subgenre_id_m41)s, %(album_id_m41)s, %(popularity_m41)s, %(title_m41)s, %(explicit_m41)s, %(track_asc_m41)s, %(track_number_m41)s), (%(track_id_m42)s, %(artist_id_m42)s, %(genre_id_m42)s, %(subgenre_id_m42)s, %(album_id_m42)s, %(popularity_m42)s, %(title_m42)s, %(explicit_m42)s, %(track_asc_m42)s, %(track_number_m42)s), (%(track_id_m43)s, %(artist_id_m43)s, %(genre_id_m43)s, %(subgenre_id_m43)s, %(album_id_m43)s, %(popularity_m43)s, %(title_m43)s, %(explicit_m43)s, %(track_asc_m43)s, %(track_number_m43)s), (%(track_id_m44)s, %(artist_id_m44)s, %(genre_id_m44)s, %(subgenre_id_m44)s, %(album_id_m44)s, %(popularity_m44)s, %(title_m44)s, %(explicit_m44)s, %(track_asc_m44)s, %(track_number_m44)s), (%(track_id_m45)s, %(artist_id_m45)s, %(genre_id_m45)s, %(subgenre_id_m45)s, %(album_id_m45)s, %(popularity_m45)s, %(title_m45)s, %(explicit_m45)s, %(track_asc_m45)s, %(track_number_m45)s), (%(track_id_m46)s, %(artist_id_m46)s, %(genre_id_m46)s, %(subgenre_id_m46)s, %(album_id_m46)s, %(popularity_m46)s, %(title_m46)s, %(explicit_m46)s, %(track_asc_m46)s, %(track_number_m46)s), (%(track_id_m47)s, %(artist_id_m47)s, %(genre_id_m47)s, %(subgenre_id_m47)s, %(album_id_m47)s, %(popularity_m47)s, %(title_m47)s, %(explicit_m47)s, %(track_asc_m47)s, %(track_number_m47)s), (%(track_id_m48)s, %(artist_id_m48)s, %(genre_id_m48)s, %(subgenre_id_m48)s, %(album_id_m48)s, %(popularity_m48)s, %(title_m48)s, %(explicit_m48)s, %(track_asc_m48)s, %(track_number_m48)s), (%(track_id_m49)s, %(artist_id_m49)s, %(genre_id_m49)s, %(subgenre_id_m49)s, %(album_id_m49)s, %(popularity_m49)s, %(title_m49)s, %(explicit_m49)s, %(track_asc_m49)s, %(track_number_m49)s)]
[parameters: {'track_id_m0': '1Ch9GzbQRNGweMmLqG855b', 'artist_id_m0': '5m20sS6l4fu2FF75KRRnI3', 'genre_id_m0': 1, 'subgenre_id_m0': 1, 'album_id_m0': '7GhLiN2AD7DpssaAnMCZ3e', 'popularity_m0': 375.2, 'title_m0': 'confiado & tranquilo', 'explicit_m0': 0, 'track_asc_m0': 's', 'track_number_m0': 1, 'track_id_m1': '7acURarwO3OFjtUKzzQq1T', 'artist_id_m1': '6w3SkAHYPsQ1bxV7VDlG5y', 'genre_id_m1': 1, 'subgenre_id_m1': 1, 'album_id_m1': '3cOK1UKpkM2v2xtcbNFzzc', 'popularity_m1': 512.2, 'title_m1': 'miedo', 'explicit_m1': 0, 'track_asc_m1': 'a', 'track_number_m1': 3, 'track_id_m2': '2DfgOx1IEjWpuMMyn178sK', 'artist_id_m2': '2qWK8K2Jfh67UqtwY8tCW6', 'genre_id_m2': 1, 'subgenre_id_m2': 1, 'album_id_m2': '2AWZrQ2aKBsFiy4w20TSZq', 'popularity_m2': 1980.0, 'title_m2': 'salgo a cazar', 'explicit_m2': 1, 'track_asc_m2': 's', 'track_number_m2': 1, 'track_id_m3': '0BNtpLD6zsXJGroRtcixOE', 'artist_id_m3': '2UZIAOlrnyZmyzt1nuXr9y', 'genre_id_m3': 1, 'subgenre_id_m3': 1, 'album_id_m3': '16ZMrJHpIg8yz4We1xuvuu', 'popularity_m3': 25440.05, 'title_m3': 'a√±os luz', 'explicit_m3': 0, 'track_asc_m3': 'a', 'track_number_m3': 11, 'track_id_m4': '63M4JqRfjTp96CyUhNJUPC', 'artist_id_m4': '2x7PC78TmgqpEIjaGAZ0Oz', 'genre_id_m4': 1, 'subgenre_id_m4': 1, 'album_id_m4': '7AHKVMfKtUv9P06zjFHsGB', 'popularity_m4': 1170.7, 'title_m4': 'azul y oro', 'explicit_m4': 0, 'track_asc_m4': 'a', 'track_number_m4': 6 ... 400 parameters truncated ... 'track_id_m45': '304GHDLp1hST4rpncfNbHD', 'artist_id_m45': '716NhGYqD1jl2wI1Qkgq36', 'genre_id_m45': 1, 'subgenre_id_m45': 1, 'album_id_m45': '5V7z4hlfsHoQrA6Q1UnZrT', 'popularity_m45': 474.4, 'title_m45': 'kinder malo: bzrp music sessions, vol. 17, lado b', 'explicit_m45': 1, 'track_asc_m45': 's', 'track_number_m45': 1, 'track_id_m46': '7HrnRmbiDEJUoRD9PNnKwO', 'artist_id_m46': '716NhGYqD1jl2wI1Qkgq36', 'genre_id_m46': 1, 'subgenre_id_m46': 1, 'album_id_m46': '6qfJ9l3p37N7TFXjmTx5g6', 'popularity_m46': 2272.6, 'title_m46': 'louta: bzrp music sessions, vol. 20', 'explicit_m46': 0, 'track_asc_m46': 's', 'track_number_m46': 1, 'track_id_m47': '0qqnsZeoW0ZdpyaW50cuNh', 'artist_id_m47': '6w3SkAHYPsQ1bxV7VDlG5y', 'genre_id_m47': 1, 'subgenre_id_m47': 1, 'album_id_m47': '5zbO01D6uIqC2ejQSQEN2O', 'popularity_m47': 55.2, 'title_m47': 'penas y problemas', 'explicit_m47': 0, 'track_asc_m47': 'a', 'track_number_m47': 4, 'track_id_m48': '6dP7YCkWAiwdYVcnKFTmfZ', 'artist_id_m48': '2qWK8K2Jfh67UqtwY8tCW6', 'genre_id_m48': 1, 'subgenre_id_m48': 1, 'album_id_m48': '38mN5F0Mi3LYlW6B8OiTiI', 'popularity_m48': 64.0, 'title_m48': 'nati', 'explicit_m48': 0, 'track_asc_m48': 's', 'track_number_m48': 1, 'track_id_m49': '6HvD8JhIe9Mq6gyql32rYb', 'artist_id_m49': '1bAftSH8umNcGZ0uyV7LMg', 'genre_id_m49': 1, 'subgenre_id_m49': 1, 'album_id_m49': '1SbMoaKFJWo8u1tb2dAgHt', 'popularity_m49': 3180.2, 'title_m49': 'its a vibe', 'explicit_m49': 1, 'track_asc_m49': 'a', 'track_number_m49': 2}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

‚ö™ **Creating Track Lyric Table**

In [ ]:
track_lyric_df = track_lyric.copy()
track_lyric_df.drop("ldabing_norm_negative", axis = 1, inplace = True)

column_data_types = {
    "track_id": VARCHAR(35),
    "n_words": Integer,
    "syuzhet_norm": Integer,
    "bing_norm": Integer,
    "afinn_norm": Integer,
    "nrc_norm": Integer,
    "syuzhet": Float,
    "bing": Integer,
    "afinn": Integer,
    "nrc": Integer,
    "anger": Integer,
    "anticipation": Integer,
    "disgust": Integer,
    "fear": Integer,
    "joy": Integer,
    "sadness": Integer,
    "surprise": Integer,
    "trust": Integer,
    "negative": Integer,
    "positive": Integer,
    "anger_norm": Float,
    "anticipation_norm": Float,
    "disgust_norm": Float,
    "fear_norm": Float,
    "joy_norm": Float,
    "sadness_norm": Float,
    "surprise_norm": Float,
    "trust_norm": Float,
    "negative_norm": Float,
    "positive_norm": Float,
    "anger_norm2": Float,
    "anticipation_norm2": Float,
    "disgust_norm2": Float,
    "fear_norm2": Float,
    "joy_norm2": Float,
    "sadness_norm2": Float,
    "surprise_norm2": Float,
    "trust_norm2": Float,
    "negative_norm2": Float,
    "positive_norm2": Float,
    "negative_bog_jr": Integer,
    "positive_bog_jr": Integer,
    "Bayes": Integer,
    "Negative_Bayes": Boolean,
    "Neutral_Bayes": Boolean,
    "Positive_Bayes": Boolean,
    "bing_norm_neutral": Boolean,
    "bing_norm_positive": Boolean,
}

with engine.connect() as conn:
    track_lyric_df.to_sql(name = "track_lyric", con = conn, schema = "spotify", if_exists = "replace", dtype = column_data_types, index = False)
    conn.execute(text('ALTER TABLE spotify.track_lyric ADD FOREIGN KEY (track_id) REFERENCES track_info(track_id);'))

üü¢ **Creating Daily Top 200 Table**

In [ ]:
dailytop = dailytop200.copy()
dailytop.rename(columns = {"pos": "position"}, inplace = True) 
# dailytop['date'] = pd.to_datetime(dailytop['date'], format='%Y-%m-%d', errors='coerce')


with engine.connect() as conn:
    dailytop.to_sql(name = "dailytop", con = conn, if_exists = "replace", index = False, schema = "Spotify",
                    dtype = {"track_id": VARCHAR(length = 35), "country_iso2": CHAR(length = 2), "date": Date, "position": Integer})
    conn.execute(text('ALTER TABLE spotify.dailytop ADD (FOREIGN KEY (track_id) REFERENCES track_info(track_id), FOREIGN KEY (country_iso2) REFERENCES country(iso2);'))

‚ö´ **Creating Track Music Table**

In [ ]:
track_music_df = track_music.copy()
track_music.replace("n", np.nan, inplace = True)

data_types = {
    "track_id": VARCHAR(35),
    "key": Integer,
    "mode": Boolean,
    "loudness": Float,
    "tempo": Float,
    "duration_ms": Integer,
    "time_signature": Integer,
    "danceability": Float,
    "energy": Float,
    "speechiness": Float,
    "acoustics": Float,
    "instrumentalness": Float,
    "liveliness": Float,
    "valence": Float
}

with engine.connect() as conn:
    track_music_df.to_sql(name = "track_music", con = conn, schema = "spotify", if_exists = "replace", index = False, dtype = data_types)
    conn.execute(text('ALTER TABLE spotify.track_music ADD FOREIGN KEY (track_id) REFERENCES track_info(track_id);'))

üî¥ **Creating Artist_Genre Table**

In [17]:
artists_copy=artists.copy()
artists_copy['Genres'] = artists_copy['Genres'].str.split(', ')
artists_copy = artists_copy.explode('Genres')
artists_copy=artists_copy[['artist_id','Genres']]

with engine.connect() as conn:
    genre_data=conn.execute(text('select * FROM spotify.genre;'))

genre_df = pd.DataFrame(genre_data.all(), columns=genre_data.keys())
artists_copy.rename(columns={'Genres':'genres_name'},inplace=True)

artist_genre_df = pd.merge(genre_df, artists_copy ,how="inner", on=['genres_name'])
artist_genre_df.drop(columns=['genres_name'],inplace=True)


with engine.connect() as conn:
    conn.execute(text('SET FOREIGN_KEY_CHECKS = 0;'))
    artist_genre_df.to_sql(name = "artist_genre", con = conn, schema = "spotify", if_exists = "replace", dtype ={'genre_id':Integer,'artist_id':VARCHAR(length = 35)}, index = False)
    conn.execute(text('ALTER TABLE spotify.artist_genre ADD (FOREIGN KEY (genre_id) REFERENCES genre(genre_id),FOREIGN KEY (artist_id) REFERENCES artist(artist_id));'))
    conn.execute(text('SET FOREIGN_KEY_CHECKS = 1;'))

üîµ **Creating Artist_Album Table**

In [18]:
album_copy=albums[['album_id','Artists']].copy()
album_copy['Artists'] = album_copy['Artists'].str.split(', ')
album_copy = album_copy.explode('Artists')

album_copy.rename(columns={'Artists':'Name'},inplace=True)
artist_album_df=pd.merge(album_copy,artists,how='inner',on=['Name'])
artist_album_df.drop(columns=['Name','Type','Popularity','Genres','Followers'],inplace=True)

artist_album_df=artist_album_df.drop_duplicates()


with engine.connect() as conn:
    conn.execute(text('SET FOREIGN_KEY_CHECKS = 0;'))
    artist_album_df.to_sql(name = "artist_album", con = conn, schema = "spotify", if_exists = "replace", dtype ={'artist_id':VARCHAR(length = 35),'album_id':VARCHAR(length = 35)}, index = False)
    conn.execute(text('ALTER TABLE spotify.artist_album ADD (FOREIGN KEY (album_id) REFERENCES album(album_id),FOREIGN KEY (artist_id) REFERENCES artist(artist_id));'))
    conn.execute(text('SET FOREIGN_KEY_CHECKS = 1;'))